@font-face {
  font-family: dsdigital;
  src: url("../fonts/dsdigital.TTF");
}

/* line 3, ../sass/partials/_waiting_room.scss */
#red {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8282), color-stop(50%, #ff4545), color-stop(100%, #ff8282));
  background-image: -webkit-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: -moz-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: -o-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: -ms-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  height: 48px;
  width: 100%;
  position: relative;
  z-index: 20;
}
/* line 46, ../sass/partials/_mixins.scss */
#red:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  height: 1px;
  z-index: 21;
}
/* line 56, ../sass/partials/_mixins.scss */
#red:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -2px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #930202), color-stop(50%, #fb8080), color-stop(100%, #930202));
  background-image: -webkit-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: -moz-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: -o-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: -ms-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: linear-gradient(left, #930202, #fb8080 50%, #930202);
  height: 2px;
  z-index: 19;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 6, ../sass/partials/_waiting_room.scss */
#red #logo {
  width: 101px;
  height: 25px;
  margin: 0 auto;
  background-image: url("http://c15075740.r40.cf2.rackcdn.com/logo.png");
  background-repeat: no-repeat;
  position: relative;
  top: 11px;
  z-index: 99;
}

/* line 17, ../sass/partials/_waiting_room.scss */
#blue {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8eb4ff), color-stop(50%, #4986ff), color-stop(100%, #8eb4ff));
  background-image: -webkit-linear-gradient(top, #8eb4ff, #4986ff 50%, #8eb4ff);
  background-image: -moz-linear-gradient(top, #8eb4ff, #4986ff 50%, #8eb4ff);
  background-image: -o-linear-gradient(top, #8eb4ff, #4986ff 50%, #8eb4ff);
  background-image: -ms-linear-gradient(top, #8eb4ff, #4986ff 50%, #8eb4ff);
  background-image: linear-gradient(top, #8eb4ff, #4986ff 50%, #8eb4ff);
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  height: 200px;
  width: 100%;
  position: relative;
  z-index: 17;
}
/* line 46, ../sass/partials/_mixins.scss */
#blue:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  height: 1px;
  z-index: 18;
}
/* line 56, ../sass/partials/_mixins.scss */
#blue:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -2px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #6699ff), color-stop(50%, #003194), color-stop(100%, #6699ff));
  background-image: -webkit-linear-gradient(left, #6699ff, #003194 50%, #6699ff);
  background-image: -moz-linear-gradient(left, #6699ff, #003194 50%, #6699ff);
  background-image: -o-linear-gradient(left, #6699ff, #003194 50%, #6699ff);
  background-image: -ms-linear-gradient(left, #6699ff, #003194 50%, #6699ff);
  background-image: linear-gradient(left, #6699ff, #003194 50%, #6699ff);
  height: 2px;
  z-index: 16;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 20, ../sass/partials/_waiting_room.scss */
#green {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #71e2a1), color-stop(50%, #28c66b), color-stop(100%, #71e2a1));
  background-image: -webkit-linear-gradient(top, #71e2a1, #28c66b 50%, #71e2a1);
  background-image: -moz-linear-gradient(top, #71e2a1, #28c66b 50%, #71e2a1);
  background-image: -o-linear-gradient(top, #71e2a1, #28c66b 50%, #71e2a1);
  background-image: -ms-linear-gradient(top, #71e2a1, #28c66b 50%, #71e2a1);
  background-image: linear-gradient(top, #71e2a1, #28c66b 50%, #71e2a1);
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  height: 110px;
  width: 100%;
  position: relative;
  z-index: 14;
}
/* line 46, ../sass/partials/_mixins.scss */
#green:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  height: 1px;
  z-index: 15;
}
/* line 56, ../sass/partials/_mixins.scss */
#green:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -2px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #a5ffcb), color-stop(50%, #029346), color-stop(100%, #a5ffcb));
  background-image: -webkit-linear-gradient(left, #a5ffcb, #029346 50%, #a5ffcb);
  background-image: -moz-linear-gradient(left, #a5ffcb, #029346 50%, #a5ffcb);
  background-image: -o-linear-gradient(left, #a5ffcb, #029346 50%, #a5ffcb);
  background-image: -ms-linear-gradient(left, #a5ffcb, #029346 50%, #a5ffcb);
  background-image: linear-gradient(left, #a5ffcb, #029346 50%, #a5ffcb);
  height: 2px;
  z-index: 13;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 23, ../sass/partials/_waiting_room.scss */
#purple {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dd79dd), color-stop(50%, #de52de), color-stop(100%, #dd79dd));
  background-image: -webkit-linear-gradient(top, #dd79dd, #de52de 50%, #dd79dd);
  background-image: -moz-linear-gradient(top, #dd79dd, #de52de 50%, #dd79dd);
  background-image: -o-linear-gradient(top, #dd79dd, #de52de 50%, #dd79dd);
  background-image: -ms-linear-gradient(top, #dd79dd, #de52de 50%, #dd79dd);
  background-image: linear-gradient(top, #dd79dd, #de52de 50%, #dd79dd);
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  height: 62px;
  width: 100%;
  position: relative;
  z-index: 11;
}
/* line 46, ../sass/partials/_mixins.scss */
#purple:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  height: 1px;
  z-index: 12;
}
/* line 56, ../sass/partials/_mixins.scss */
#purple:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -2px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ff83ff), color-stop(50%, #912c91), color-stop(100%, #ff83ff));
  background-image: -webkit-linear-gradient(left, #ff83ff, #912c91 50%, #ff83ff);
  background-image: -moz-linear-gradient(left, #ff83ff, #912c91 50%, #ff83ff);
  background-image: -o-linear-gradient(left, #ff83ff, #912c91 50%, #ff83ff);
  background-image: -ms-linear-gradient(left, #ff83ff, #912c91 50%, #ff83ff);
  background-image: linear-gradient(left, #ff83ff, #912c91 50%, #ff83ff);
  height: 2px;
  z-index: 10;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 27, ../sass/partials/_waiting_room.scss */
#carousel_inner {
  width: 204px;
  overflow: hidden;
  float: left;
  height: 102px;
  text-align: center;
}

/* line 34, ../sass/partials/_waiting_room.scss */
#carousel_ul {
  position: relative;
  left: -204px;
  width: 9999px;
}
/* line 39, ../sass/partials/_waiting_room.scss */
#carousel_ul li {
  float: left;
  width: 204px;
  display: table;
  height: 100px;
}
/* line 45, ../sass/partials/_waiting_room.scss */
#carousel_ul li p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 55, ../sass/partials/_waiting_room.scss */
.section > div {
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 6px;
}
/* line 60, ../sass/partials/_waiting_room.scss */
.section > div p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 65, ../sass/partials/_waiting_room.scss */
.section > div .left_arrow {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 25px;
}
/* line 70, ../sass/partials/_waiting_room.scss */
.section > div .right_arrow {
  cursor: pointer;
  padding-left: 25px;
  padding-right: 15px;
}
/* line 77, ../sass/partials/_waiting_room.scss */
.section #players {
  display: table;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
}
/* line 84, ../sass/partials/_waiting_room.scss */
.section #players #you, .section #players #opponent {
  display: table-cell;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 92, ../sass/partials/_waiting_room.scss */
.section #players #vs {
  vertical-align: middle;
  display: table-cell;
  width: 100px;
  height: 100px;
}

/* line 1, ../sass/partials/_game.scss */
#game {
  position: relative;
  display: none;
  width: 320px;
  height: 198px;
}

/* line 7, ../sass/partials/_game.scss */
input:focus {
  outline: none;
}

/* line 11, ../sass/partials/_game.scss */
#lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 100;
  display: none;
  opacity: 0;
  text-align: center;
}
/* line 21, ../sass/partials/_game.scss */
#lightbox #modal_cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
/* line 27, ../sass/partials/_game.scss */
#lightbox #modal_cell #modal {
  display: inline-block;
  text-align: center;
  width: 75%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #d7d7d7));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #d7d7d7);
  background-image: -moz-linear-gradient(top, #f8f8f8, #d7d7d7);
  background-image: -o-linear-gradient(top, #f8f8f8, #d7d7d7);
  background-image: -ms-linear-gradient(top, #f8f8f8, #d7d7d7);
  background-image: linear-gradient(top, #f8f8f8, #d7d7d7);
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #685f5f;
  text-shadow: white 0px 1px 1px;
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.8);
}
/* line 36, ../sass/partials/_game.scss */
#lightbox #modal_cell #modal .modal_header {
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8282), color-stop(50%, #ff4545), color-stop(100%, #ff8282));
  background-image: -webkit-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: -moz-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: -o-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: -ms-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  height: 28px;
  width: 100%;
  position: relative;
  z-index: 20;
}
/* line 46, ../sass/partials/_mixins.scss */
#lightbox #modal_cell #modal .modal_header:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  height: 1px;
  z-index: 21;
}
/* line 56, ../sass/partials/_mixins.scss */
#lightbox #modal_cell #modal .modal_header:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -2px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #930202), color-stop(50%, #fb8080), color-stop(100%, #930202));
  background-image: -webkit-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: -moz-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: -o-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: -ms-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: linear-gradient(left, #930202, #fb8080 50%, #930202);
  height: 2px;
  z-index: 19;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 40, ../sass/partials/_game.scss */
#lightbox #modal_cell #modal .modal_header #game_over {
  width: 100%;
  text-align: center;
  line-height: 28px;
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #f8f2f2;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
}
/* line 48, ../sass/partials/_game.scss */
#lightbox #modal_cell #modal #game_over_text {
  padding: 20px 10px 10px 10px;
}
/* line 52, ../sass/partials/_game.scss */
#lightbox #modal_cell #modal #okay {
  cursor: pointer;
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #f8f2f2;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
  height: 26px;
  line-height: 26px;
  width: 80px;
  border: 1px solid #bd5656;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff6666), color-stop(100%, #d25454));
  background-image: -webkit-linear-gradient(top, #ff6666, #d25454);
  background-image: -moz-linear-gradient(top, #ff6666, #d25454);
  background-image: -o-linear-gradient(top, #ff6666, #d25454);
  background-image: -ms-linear-gradient(top, #ff6666, #d25454);
  background-image: linear-gradient(top, #ff6666, #d25454);
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0px 1px 0px, white 0px 1px 0px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0px 1px 0px, white 0px 1px 0px;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0px 1px 0px, white 0px 1px 0px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 33, ../sass/partials/_mixins.scss */
#lightbox #modal_cell #modal #okay:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff7070), color-stop(100%, #d45c5c));
  background-image: -webkit-linear-gradient(top, #ff7070, #d45c5c);
  background-image: -moz-linear-gradient(top, #ff7070, #d45c5c);
  background-image: -o-linear-gradient(top, #ff7070, #d45c5c);
  background-image: -ms-linear-gradient(top, #ff7070, #d45c5c);
  background-image: linear-gradient(top, #ff7070, #d45c5c);
}

/* line 61, ../sass/partials/_game.scss */
#scoreboard {
  width: 147px;
  height: 108px;
  background-image: url("scoreboard.png");
  position: absolute;
  top: 36px;
  left: 193px;
}
/* line 69, ../sass/partials/_game.scss */
#scoreboard #time_remaining {
  font-family: dsdigital;
  position: absolute;
  font-size: 27px;
  left: 33px;
  top: 23px;
  text-shadow: 0 0 5px rgba(255, 210, 0, 0.55);
  color: #fffc00;
  width: 79px;
  text-align: center;
}
/* line 81, ../sass/partials/_game.scss */
#scoreboard #answers_remaining {
  font-family: dsdigital;
  position: absolute;
  font-size: 17px;
  left: 33px;
  top: 60px;
  text-shadow: none;
  text-align: center;
  width: 79px;
}

/* line 94, ../sass/partials/_game.scss */
#game_red {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8282), color-stop(50%, #ff4545), color-stop(100%, #ff8282));
  background-image: -webkit-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: -moz-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: -o-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: -ms-linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  background-image: linear-gradient(top, #ff8282, #ff4545 50%, #ff8282);
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.7);
  height: 28px;
  width: 100%;
  position: relative;
  z-index: 20;
}
/* line 46, ../sass/partials/_mixins.scss */
#game_red:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0));
  height: 1px;
  z-index: 21;
}
/* line 56, ../sass/partials/_mixins.scss */
#game_red:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -2px;
  width: inherit;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #930202), color-stop(50%, #fb8080), color-stop(100%, #930202));
  background-image: -webkit-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: -moz-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: -o-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: -ms-linear-gradient(left, #930202, #fb8080 50%, #930202);
  background-image: linear-gradient(left, #930202, #fb8080 50%, #930202);
  height: 2px;
  z-index: 19;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 97, ../sass/partials/_game.scss */
#game_red > div {
  display: table;
}
/* line 100, ../sass/partials/_game.scss */
#game_red #game_title {
  display: table-cell;
  width: 100%;
  text-align: center;
}

/* line 107, ../sass/partials/_game.scss */
.game_player {
  height: 62px;
  display: table;
  vertical-align: middle;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #d7d7d7));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #d7d7d7);
  background-image: -moz-linear-gradient(top, #f8f8f8, #d7d7d7);
  background-image: -o-linear-gradient(top, #f8f8f8, #d7d7d7);
  background-image: -ms-linear-gradient(top, #f8f8f8, #d7d7d7);
  background-image: linear-gradient(top, #f8f8f8, #d7d7d7);
}
/* line 113, ../sass/partials/_game.scss */
.game_player > div {
  display: table-cell;
  vertical-align: middle;
}

/* line 119, ../sass/partials/_game.scss */
#input_container {
  height: 45px;
  border-top: 1px solid #c6c6c6;
  display: table-cell;
  vertical-align: middle;
  width: 480px;
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #e2e2e2));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #e2e2e2);
  background-image: -moz-linear-gradient(top, #f6f6f6, #e2e2e2);
  background-image: -o-linear-gradient(top, #f6f6f6, #e2e2e2);
  background-image: -ms-linear-gradient(top, #f6f6f6, #e2e2e2);
  background-image: linear-gradient(top, #f6f6f6, #e2e2e2);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.08) 0px 5px 5px, inset white 0px 1px 0px, 0px 5px 6px -3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset rgba(0, 0, 0, 0.08) 0px 5px 5px, inset white 0px 1px 0px, 0px 5px 6px -3px rgba(0, 0, 0, 0.8);
  box-shadow: inset rgba(0, 0, 0, 0.08) 0px 5px 5px, inset white 0px 1px 0px, 0px 5px 6px -3px rgba(0, 0, 0, 0.8);
}
/* line 129, ../sass/partials/_game.scss */
#input_container #input_bg {
  float: left;
  width: 200px;
  height: 26px;
  margin-right: 10px;
  margin-left: 12px;
  position: relative;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -ms-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: linear-gradient(top, #f2f2f2, #ffffff);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.15) 0px 0px 15px, white 0px 1px 0px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.15) 0px 0px 15px, white 0px 1px 0px;
  box-shadow: inset rgba(0, 0, 0, 0.15) 0px 0px 15px, white 0px 1px 0px;
}
/* line 142, ../sass/partials/_game.scss */
#input_container #input_bg #helper_text {
  position: absolute;
  color: #ccc;
  text-shadow: none;
  font-weight: normal;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  margin-left: 7px;
}
/* line 153, ../sass/partials/_game.scss */
#input_container #input_bg #game_input {
  position: absolute;
  border: 0;
  background-color: transparent;
  width: 185px;
  left: 0px;
  padding-left: 6px;
  height: 24px;
}
/* line 164, ../sass/partials/_game.scss */
#input_container #clear {
  display: inline-block;
  float: left;
  cursor: pointer;
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #f8f2f2;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
  height: 26px;
  line-height: 26px;
  width: 80px;
  border: 1px solid #bd5656;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff6666), color-stop(100%, #d25454));
  background-image: -webkit-linear-gradient(top, #ff6666, #d25454);
  background-image: -moz-linear-gradient(top, #ff6666, #d25454);
  background-image: -o-linear-gradient(top, #ff6666, #d25454);
  background-image: -ms-linear-gradient(top, #ff6666, #d25454);
  background-image: linear-gradient(top, #ff6666, #d25454);
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0px 1px 0px, white 0px 1px 0px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0px 1px 0px, white 0px 1px 0px;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0px 1px 0px, white 0px 1px 0px;
}
/* line 177, ../sass/partials/_game.scss */
#input_container #clear:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff7070), color-stop(100%, #d45c5c));
  background-image: -webkit-linear-gradient(top, #ff7070, #d45c5c);
  background-image: -moz-linear-gradient(top, #ff7070, #d45c5c);
  background-image: -o-linear-gradient(top, #ff7070, #d45c5c);
  background-image: -ms-linear-gradient(top, #ff7070, #d45c5c);
  background-image: linear-gradient(top, #ff7070, #d45c5c);
}

/* line 185, ../sass/partials/_game.scss */
.player_small {
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 2px;
  float: left;
  position: relative;
  margin-left: 15px;
  margin-right: 8px;
  overflow: hidden;
  margin-top: 2px;
}

/* line 199, ../sass/partials/_game.scss */
.player_score {
  display: inline-block;
  text-align: center;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 39px;
  float: left;
  margin-right: 12px;
}

/* line 210, ../sass/partials/_game.scss */
#your_score {
  background-image: url("../images/green_score.png");
  width: 35px;
  height: 39px;
}

/* line 215, ../sass/partials/_game.scss */
#opponent_score {
  background-image: url("../images/blue_score.png");
  width: 35px;
  height: 39px;
}

/* line 221, ../sass/partials/_game.scss */
.last_guess {
  display: inline-block;
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #685f5f;
  text-shadow: white 0px 1px 1px;
  line-height: 39px;
  height: 39px;
}

/* line 15, ../sass/partials/_on_board.scss */
body {
  font-family: helvetica;
}
/* line 17, ../sass/partials/_on_board.scss */
body a {
  color: #fe4e4e;
  text-decoration: underline;
}

/* line 22, ../sass/partials/_on_board.scss */
#on_board_wrapper {
  background: url("../images/corrugation.jpg") repeat;
  background-position-y: -2px;
  height: 412px;
  width: 320px;
  margin: 0 auto;
  position: absolute;
  overflow: hidden;
}

/* line 31, ../sass/partials/_on_board.scss */
header {
  background-image: url("../images/header.png");
  width: 100%;
  height: 43px;
  position: relative;
  top: 0px;
  z-index: 2;
}

/* line 39, ../sass/partials/_on_board.scss */
#screens {
  width: 640px;
  height: 150px;
}

/* line 43, ../sass/partials/_on_board.scss */
#screen_1 {
  float: left;
  width: 320px;
  height: 147px;
}
/* line 48, ../sass/partials/_on_board.scss */
#screen_1 #scene_1 #input {
  background: url("../images/input.png") no-repeat;
  width: 200px;
  height: 33px;
  position: relative;
  margin: 0 auto;
  top: 30px;
}
/* line 56, ../sass/partials/_on_board.scss */
#screen_1 #scene_1 #input #animation_text {
  position: absolute;
  line-height: 33px;
  margin-left: 7px;
  color: #c4c4c4;
  font-size: 14px;
}
/* line 64, ../sass/partials/_on_board.scss */
#screen_1 #scene_1 .text {
  color: #7b7b7b;
  font-size: 12px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 68px;
}

/* line 74, ../sass/partials/_on_board.scss */
#screen_2 {
  float: left;
  width: 320px;
  height: 147px;
}

/* line 79, ../sass/partials/_on_board.scss */
#twitter_bio {
  background-image: url("../images/twitter_bio.png");
  width: 261px;
  height: 150px;
  position: relative;
  top: 0px;
  margin: 0 auto;
  left: -2px;
}
/* line 87, ../sass/partials/_on_board.scss */
#twitter_bio > div {
  position: absolute;
  top: 30px;
  left: 18px;
}
/* line 93, ../sass/partials/_on_board.scss */
#twitter_bio #name {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  color: #4f4f4f;
}
/* line 99, ../sass/partials/_on_board.scss */
#twitter_bio #twitter_handle {
  color: #7b7b7b;
  font-size: 14px;
}
/* line 103, ../sass/partials/_on_board.scss */
#twitter_bio #bio {
  color: #7b7b7b;
  font-size: 12px;
  margin-top: 15px;
  width: 225px;
  height: 50px;
}

/* line 111, ../sass/partials/_on_board.scss */
#back_arrow {
  position: absolute;
  background-image: url("../images/back_arrow.png");
  width: 36px;
  height: 37px;
  left: 198px;
  cursor: pointer;
}

/* line 119, ../sass/partials/_on_board.scss */
#picture {
  width: 100%;
  height: 190px;
  background-size: auto 190px;
  position: relative;
  margin-top: -5px;
  z-index: 1;
}

/* line 129, ../sass/partials/_on_board.scss */
#punch_out {
  background-image: url("../images/punch_out.png");
  width: 320px;
  height: 35px;
  position: relative;
  margin-top: -29px;
  z-index: 2;
}

/* line 138, ../sass/partials/_on_board.scss */
#play {
  background-image: url("../images/play.png");
  width: 105px;
  height: 57px;
  position: relative;
  top: 0px;
  margin: -36px auto -19px;
  left: 1px;
  z-index: 3;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 57px;
}

/* line 157, ../sass/partials/_on_board.scss */
#game_animation {
  background-image: url("../images/game_animation.png");
  width: 261px;
  height: 95px;
  position: relative;
  top: 0px;
  margin: 0 auto;
  left: -2px;
}

/* line 168, ../sass/partials/_on_board.scss */
#location_info {
  background: url("../images/location_info.png") center no-repeat;
  width: 261px;
  height: 52px;
  position: relative;
  top: 0px;
  left: -2px;
  margin: 0 auto;
}

/* line 178, ../sass/partials/_on_board.scss */
#map_pin {
  background: url("../images/map_pin.png") center no-repeat;
  width: 32px;
  height: 25px;
  position: relative;
  float: left;
  margin-top: 13px;
  margin-left: 9px;
}

/* line 188, ../sass/partials/_on_board.scss */
#location.text {
  width: 170px;
  height: 42px;
  line-height: 42px;
  float: left;
  padding-top: 4px;
  color: #7b7b7b;
  font-family: helvetica;
  font-size: 12px;
  overflow: hidden;
}

/* line 198, ../sass/partials/_on_board.scss */
#arrow {
  background-image: url("../images/arrow.png");
  width: 27px;
  height: 30px;
  position: relative;
  float: right;
  top: 13px;
  right: 15px;
  cursor: pointer;
}

/* line 209, ../sass/partials/_on_board.scss */
footer {
  position: relative;
  text-align: center;
}

/* line 217, ../sass/partials/_on_board.scss */
#stop_sign {
  display: inline-block;
  margin-right: 18px;
}
/* line 220, ../sass/partials/_on_board.scss */
#stop_sign .icon {
  background-image: url("../images/stop_sign.png");
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 5px;
}
/* line 229, ../sass/partials/_on_board.scss */
#stop_sign .text {
  color: #7b7b7b;
  font-family: helvetica;
  font-size: 10px;
  line-height: 22px;
  float: left;
}

/* line 236, ../sass/partials/_on_board.scss */
#block {
  display: inline-block;
}
/* line 238, ../sass/partials/_on_board.scss */
#block .icon {
  background-image: url("../images/circle_x.png");
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 5px;
}
/* line 247, ../sass/partials/_on_board.scss */
#block .text {
  color: #7b7b7b;
  font-family: helvetica;
  font-size: 10px;
  line-height: 22px;
  float: left;
}

/* line 15, ../sass/partials/_photo_grid.scss */
body {
  font-family: helvetica;
}
/* line 17, ../sass/partials/_photo_grid.scss */
body a {
  color: #fe4e4e;
  text-decoration: underline;
}

/* line 22, ../sass/partials/_photo_grid.scss */
body, html {
  height: 100% !important;
}

/* line 25, ../sass/partials/_photo_grid.scss */
#fixed_bg {
  width: 100%;
  height: 100%;
  background: url("../images/corrugation.jpg") repeat;
  position: fixed;
}

/* line 31, ../sass/partials/_photo_grid.scss
#photo_grid_wrapper {
  height: 412px;
  width: 320px;
  margin: 0 auto;
  position: absolute; 
}*/
/* line 38, ../sass/partials/_photo_grid.scss */
#photo_grid_wrapper header {
  background-image: url("../images/blank_header.png");
  position: fixed;
  top: 0px;
  z-index: 2;
  line-height: 38px;
  text-align: center;
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #f8f2f2;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
}

/* line 51, ../sass/partials/_photo_grid.scss */
#the_grid {
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 50px;
  margin-left: -6px;
  text-align: center;
}

/* line 61, ../sass/partials/_photo_grid.scss */
.photo {
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 14px;
  margin-left: 12px;
}
/* line 68, ../sass/partials/_photo_grid.scss */
.photo img {
  position: relative;
  vertical-align: top;
  width:100%;
  height:auto !important;
}

/* line 74, ../sass/partials/_photo_grid.scss */
.name {
  width: 100%;
  height: 22px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0px;
  text-align: center;
  color: #7b7b7b;
  font-family: helvetica;
  font-size: 15px;
  line-height: 22px;
}

/* line 88, ../sass/partials/_photo_grid.scss */
#back_button {
  background-image: url("../images/back.png");
  width: 61px;
  height: 30px;
  float: left;
  position: absolute;
  left: 5px;
  top: 3px;
  font-size: 12px;
  font-weight: bold;
  text-indent: 7px;
  line-height: 28px;
}

/* line 102, ../sass/partials/_photo_grid.scss */
#picture {
  width: 320px;
  height: 190px;
  position: relative;
  margin-top: -5px;
}

/* line 110, ../sass/partials/_photo_grid.scss */
#name {
  height: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
  line-height: 25px;
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #685f5f;
  text-shadow: white 0px 1px 1px;
}

/* line 15, ../sass/partials/_pick_a_game.scss */
body {
  font-family: helvetica;
}
/* line 17, ../sass/partials/_pick_a_game.scss */
body a {
  color: #fe4e4e;
  text-decoration: underline;
}

/* line 22, ../sass/partials/_pick_a_game.scss */
body, html {
  height: 100% !important;
}

/* line 26, ../sass/partials/_pick_a_game.scss */
#pick_game_wrapper {
  height: 412px;
  width: 320px;
  margin: 0 auto;
  position: absolute;
}
/* line 33, ../sass/partials/_pick_a_game.scss */
#pick_game_wrapper header {
  background-image: url("../images/blank_header.png");
  width: 320px;
  height: 43px;
  position: relative;
  top: 0px;
  z-index: 2;
  line-height: 38px;
  text-align: center;
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #f8f2f2;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
}

/* line 46, ../sass/partials/_pick_a_game.scss */
#left_col, #right_col {
  margin-left: 16px;
  float: left;
  width: 137px;
  position: relative;
  height: 100%;
  display: inline-block;
  margin-top: 50px;
}

/* line 57, ../sass/partials/_pick_a_game.scss */
.photo {
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 14px;
}
/* line 63, ../sass/partials/_pick_a_game.scss */
.photo img {
  position: relative;
  vertical-align: top;
}

/* line 70, ../sass/partials/_pick_a_game.scss */
#back_button {
  background-image: url("../images/back.png");
  width: 61px;
  height: 30px;
  float: left;
  position: absolute;
  left: 5px;
  top: 3px;
  font-size: 12px;
  font-weight: bold;
  text-indent: 7px;
  line-height: 28px;
}

/* line 84, ../sass/partials/_pick_a_game.scss */
#picture {
  width: 320px;
  height: 190px;
  position: relative;
  margin-top: -5px;
}

/* line 92, ../sass/partials/_pick_a_game.scss */
#name {
  height: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
  line-height: 25px;
  color: #7b7b7b;
  font-family: helvetica;
  font-size: 15px;
  font-weight: normal;
  bottom: 0px;
  position: absolute;
}

/* line 105, ../sass/partials/_pick_a_game.scss */
.name {
  width: 100%;
  height: 22px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0px;
  text-align: center;
  color: #7b7b7b;
  font-family: helvetica;
  font-size: 15px;
  line-height: 22px;
}

/* line 9, ../sass/style.scss */
html, body {
  background-color: #fff;
  margin: 0 auto;
  top: 0;
  height: 100%;
  min-height: 480px;
  max-width: 320px;
}

/* line 18, ../sass/style.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/style.scss */
#wrapper {
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #f8f2f2;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
  overflow: hidden;
  width: 320px;
}

/* line 30, ../sass/style.scss */
#filler {
  height: 100%;
  width: 100%;
  background-image: url("../images/bgnoise.jpg");
  background-repeat: repeat;
}
