#game{
	position:relative;
}

#scoreboard{
	width:80px;
	height:70px;
	background-color:#999;
	position:absolute;
	top:52px;
	left:230px;
}

#game_red{
	@include gradient( 28px, #ff8282, #ff4545, #930202, #fb8080, 20);

	>div{
		display:table;
	}
	#game_title{
		display:table-cell;
		width:100%;
		text-align:center;
	}
}

.game_player{
	height:62px;
	@include background-image(linear-gradient(top, #f8f8f8, #d7d7d7 ));
	>div{
		display:table;
	}
}

#input_container{
	height:45px;
	border-top:1px solid #c6c6c6;
	@include background-image(linear-gradient(top, #f6f6f6, #e2e2e2 ));
	@include box-shadow(inset rgba(0,0,0,.08) 0px 5px 5px, inset #fff 0px 1px 0px);

	#game_input{
		width:200px;
		height:30px;
		@include border-radius(5px);
		border: 1px solid #b4b4b4;
		@include background-image(linear-gradient(top, #f2f2f2, #fff ));
		@include box-shadow(inset rgba(0,0,0,.15) 0px 0px 15px);
	}

	#clear{
		cursor:pointer;
		@include white_font();
		height:30px;
		width:80px;
		border: 1px solid #bd5656;
		@include border-radius(5px);
		@include background-image(linear-gradient(top, #ff6666, #d25454 ));
		@include box-shadow(inset rgba(255,255,255,.5) 0px 1px 0px, rgba(255,255,255,1) 0px 1px 0px);

		&:hover{
			@include background-image(linear-gradient(top, lighten(#ff6666,2%), lighten(#d25454, 2%) ));
		}
	}
}

.player_small{
	display:table-cell;
	width:35px;
	height:35px;
	@include border-radius(5px);
	@include box-shadow(rgba(0,0,0,1) 0px 1px 1px);
	background-color:#ccc;
}

.player_score{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width:28px;
	height:28px;
	@include border-radius(5px);
}

#your_score{
	@include gradient( 28px, #71e2a1, #28c66b, #a5ffcb, #029346, 14);
	width:28px;
}
#opponent_score{
	@include gradient( 28px, #8eb4ff, #4986ff, #6699ff, #003194, 17);
	width:28px;
}

.last_guess{
	display:table-cell;
	@include dark_font();
	vertical-align:middle;
}