
#loading_wrapper{
	text-align:center;
	height:412px;
	width:320px;
	margin:0 auto;
	position:absolute;

	a{
		@include white_font_normal();
		text-decoration:none;
	}

	header{
		background-image:url('../images/blank_header.png');
		width:320px;
		height:43px;
		position:relative;
		top:0px;
		z-index:2;
		line-height:38px;
		text-align:center;
		@include white_font();
	}


}
#logo {
  width: 101px;
  height: 25px;
  margin: 0 auto;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  position: relative;
  top: 8px;
  z-index: 99;
}



#spinner{
	position: relative;
	width:123px;
	height:124px;
	background-image:url('../images/spinner.gif');
	margin:0 auto;
}
#finding{
	@include white_box();
	text-align:center;
	margin-top:35px;

	.text{
		text-align:center;
		@include dark_font();
		font-weight:bold;
	}
	
}

#table{
	display:table;
	height:100%;
	width:100%;

	#table-cell{
		display:table-cell;
		vertical-align:middle;
	}
}