//On Board

@mixin font(){
	color:#7b7b7b;
	font-family:helvetica;
	font-size:12px;
}

@mixin small_text(){
	color:#7b7b7b;
	font-family:helvetica;
	font-size:10px;
}

body{
	font-family:helvetica;
	a{
		color:#fe4e4e;
		text-decoration:underline;
	}
}
#on_board_wrapper{
	background:url('../images/corrugation.jpg') repeat;
	background-position-y:-2px;
	height:412px;
	width:320px;
	margin:0 auto;
	position:absolute;
	overflow:hidden;

	header{
		background-image:url('../images/blank_header.png');
		width:320px;
		height:43px;
		position:relative;
		top:0px;
		z-index:2;
		line-height:38px;
		text-align:center;
		@include white_font();
	}
}
#logo {
  width: 101px;
  height: 25px;
  margin: 0 auto;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  position: relative;
  top: 8px;
  z-index: 99;
}
#screens{
	width:640px;
	height:150px;
}
#screen_1{
	float:left;
	width:320px;
	height:147px;
	#scene_1{
		#input{
			background: url('../images/input.png') no-repeat;
			width:200px;
			height:33px;
			position:relative;
			margin:0 auto;
			top:30px;

			#animation_text{
				position:absolute;
				line-height:33px;
				margin-left:7px;
				color:#c4c4c4;
				font-size:14px;
			}
		}
		.text{
			color:#7b7b7b;
			font-size:12px;
			width:100%;
			text-align:center;
			position:absolute;
			top:68px;
		}
	}
}
#screen_2{
	float:left;
	width:320px;
	height:147px;
}
#twitter_bio{
	background-image:url('../images/twitter_bio.png');
	width:261px;
	height:150px;
	position:relative;
	top:0px;
	margin:0 auto;
	left:-2px;
	>div{
		position:absolute;
		top:30px;
		left:18px;
	}

	#name{
		font-family:Helvetica;
		font-weight:bold;
		font-size:18px;
		color:#4f4f4f;
	}
	#twitter_handle{
		color:#7b7b7b;
		font-size:14px;
	}
	#bio{
		color:#7b7b7b;
		font-size:12px;
		margin-top:15px;
		width:225px;
		height:50px;
	}
}
#back_arrow{
	position:absolute;
	background-image:url('../images/back_arrow.png');
	width:36px;
	height:37px;
	left:198px;
	cursor:pointer;
}
#picture{
	background:url('../images/picture.jpg') no-repeat center;
	width:100%;
	height:190px;
	background-size: auto 190px;
	position:relative;
	margin-top:-5px;
	z-index:1;
}

#black_bubble{
	@include border-radius(10px);
	@include white_font();
	font-size:14px;
	font-weight:normal;
	padding-left:10px;
	padding-right:10px;
	background-color:rgba(0,0,0,.55);
	height:30px;
	text-align:center;
	line-height:30px;
	display:inline-block;
	position:absolute;
	right:25px;
	top:15px;

	&:after{
		content:'';
		display:block;
		background-image:url('../images/on_board_speech_arrow.png');
		width:21px;
		height:17px;
		right:18px;
		position:absolute;
	}
}

#punch_out{
	background-image:url('../images/punch_out.png');
	width:320px;
	height:35px;
	position:relative;
	margin-top:-29px;
	z-index:2;
}

#play{
	background-image:url('../images/play.png');
	width:105px;
	height:57px;
	position:relative;
	top:0px;
	margin:-36px auto -19px;
	left:1px;
	z-index:3;

	color:#fff;
	font-weight:bold;
	font-size:20px;
	text-align:center;
	line-height:57px;

}


#game_animation{
	background-image:url('../images/game_animation.png');
	width:261px;
	height:95px;
	position:relative;
	top:0px;
	margin:0 auto;
	left:-2px;
}


#location_info{
	background:url('../images/location_info.png') center no-repeat;
	width:261px;
	height:52px;
	position:relative;
	top:0px;
	left:-2px;
	margin:0 auto;
}

#map_pin{
	background:url('../images/map_pin.png') center no-repeat;
	width:32px;
	height:25px;
	position:relative;
	float:left;
	margin-top:13px;
	margin-left:9px;
}

#location.text{
	width:170px;
	height:42px;
	line-height:42px;
	float:left;
	padding-top:4px;
	@include font();
	overflow:hidden;
}

#arrow{
	background-image:url('../images/arrow.png');
	width:27px;
	height:30px;
	position:relative;
	float:right;
	top:13px;
	right:15px;
	cursor:pointer;
}

footer{
	position:relative;
	text-align:center;
	.text{

	}
}

#stop_sign{
	display:inline-block;
	margin-right:18px;
	.icon{
		background-image:url('../images/stop_sign.png');
		width:22px;
		height:22px;
		position:relative;
		display:inline-block;
		float:left;
		margin-left:5px;
	}
	.text{
		@include small_text();
		line-height:22px;
		float:left;
	}
}

#block{
	display:inline-block;
	.icon{
		background-image:url('../images/circle_x.png');
		width:22px;
		height:22px;
		position:relative;
		display:inline-block;
		float:left;
		margin-left:5px;
	}
	.text{
		@include small_text();
		line-height:22px;
		float:left;
	}
}