//On Board
//@import "compass/css3/columns";
@mixin font(){
	color:#7b7b7b;
	font-family:helvetica;
	font-size:12px;
}

@mixin small_text(){
	color:#7b7b7b;
	font-family:helvetica;
	font-size:10px;
}

body{
	font-family:helvetica;
	a{
		color:#fe4e4e;
		text-decoration:underline;
	}
}
body, html{
	height:100% !important;
}
#fixed_bg{
	width:100%;
	height:100%;
	background:url('../images/corrugation.jpg') repeat;
	position: fixed;
}
#photo_grid_wrapper{
	//height:412px;
	//width:320px;
	margin:0 auto;
	position:absolute;

	header{
		background-image:url('../images/blank_header.png');
		//width:320px;
		height:43px;
		position:fixed;
		top:0px;
		z-index:2;
		line-height:38px;
		text-align:center;
		@include white_font();
	}
}

#the_grid{
	margin:0 auto;
	width:100%;
	position: relative;
	height:100%;
	margin-top:50px;
	margin-left:-6px;
	text-align:center;
}

.photo{
	position: relative;
	display:inline-block;
	@include box-shadow(0px 0px 6px rgba(0,0,0,.4));
	margin-bottom:14px;
	margin-left:12px;

	img{
		position: relative;
		vertical-align: top;
		width:100%;
  		height: auto !important;
	}
}

.name{
	width:100%;
	height:22px;
	position: absolute;
	background-color:rgba(255,255,255,.8);
	bottom:0px;
	text-align:center;
	color:#7b7b7b;
	font-family:helvetica;
	font-size:15px;
	line-height:22px;

}

#back_button{
	background-image:url('../images/back.png');
	width:61px;
	height:30px;
	float:left;
	position:absolute;
	left:5px;
	top:3px;
	font-size:12px;
	font-weight:bold;
	text-indent:7px;
	line-height:28px;
}

#picture{
	width:320px;
	height:190px;
	background-image:url('../images/picture.jpg');
	position:relative;
	margin-top:-5px;
}

#name{
	height:25px;
	background-color:rgba(255,255,255,.8);
	width:100%;
	text-align:center;
	line-height:25px;
	@include dark_font();
}