//On Board

@mixin font(){
	color:#7b7b7b;
	font-family:helvetica;
	font-size:12px;
}

@mixin small_text(){
	color:#7b7b7b;
	font-family:helvetica;
	font-size:10px;
}


#pick_game_wrapper{
	
	height:412px;
	width:320px;
	margin:0 auto;
	position:absolute;

	a{
		@include white_font_normal();
		text-decoration:none;
	}

	header{
		background-image:url('../images/blank_header.png');
		width:320px;
		height:43px;
		position:relative;
		top:0px;
		z-index:2;
		line-height:38px;
		text-align:center;
		@include white_font();
	}

	#footer{
		width:261px;
		position:relative;
		margin:0 auto;
		top:50px;
	}
}

#left_col, #right_col{
	margin-left:16px;
	float:left;
	width:137px;
	position: relative;
	height:100%;
	display:inline-block;
	margin-top:50px;

}

.photo{
	position: relative;
	display:inline-block;
	@include box-shadow(0px 0px 6px rgba(0,0,0,.4));
	margin-bottom:14px;

	img{
		//width:137px;
		position: relative;
		vertical-align: top;
	}
}

#back_button{
	background-image:url('../images/back.png');
	width:61px;
	height:30px;
	float:left;
	position:absolute;
	left:5px;
	top:3px;
	font-size:12px;
	font-weight:bold;
	text-indent:7px;
	line-height:28px;
}

#picture{
	width:320px;
	height:190px;
	background-image:url('../images/picture.jpg');
	position:relative;
	margin-top:-5px;
	@include box-shadow(0px 1px 5px rgba(0, 0, 0, 0.2));
}

#name{
	height:25px;
	background-color:rgba(255,255,255,.8);
	width:100%;
	text-align:center;
	line-height:25px;
	color:#6c6c6c;
	font-family:helvetica;
	font-size:15px;
	font-weight:normal;
	bottom:0px;
	position:absolute;
}
.name{
	width:100%;
	height:22px;
	position: absolute;
	background-color:rgba(255,255,255,.8);
	bottom:0px;
	text-align:center;
	color:#7b7b7b;
	font-family:helvetica;
	font-size:15px;
	line-height:22px;

}

#interests{
	@include white_box();

	top:23px;
	height:74px;
}

#select{
	background-image:url('../images/select.png');
	width:190px;
	height:45px;
	position:relative;
	float:left;

	#pick_a_game{
		position: absolute;
		line-height: 45px;
		height:45px;
		left:15px;
		color:#6c6c6c;
		font-family:helvetica;
		font-size:15px;
		font-weight:normal;
	}
	select{
		width:100%;
		height:100%;
		opacity:0;
	}
}

#send_button{
	background-image:url('../images/send_button.png');
	width:63px;
	height:40px;
	position:relative;
	float:right;
	@include white_font();
	text-align:center;
	line-height:40px;
	cursor:pointer;
	top:2px;
}

#pick_a_game_modal{
	width:100%;
	height:600px;
	position: absolute;
	background-color:rgba(0,0,0,.7);
	z-index:5;
	display:table;
	#modal_wrap{
		display:table-cell;
		vertical-align:middle;
	}
	#success{
		position:relative;
		margin:0 auto;
		@include white-box();

		.text{
			text-align:center;
		}

		#tick{
			width:29px;
			height:24px;
			background-image:url('../images/tick.png');
			position: relative;
			margin:0 auto;
			margin-top:10px;
			margin-bottom:10px;
		}
	}
	#button_wrap{
		text-align:center;
		position: relative;
		margin-top:20px;
	}
	#okay{
		@include red_button();
		position:relative;
		margin:0 auto;

	}
}