@import "compass";
@import "partials/_fonts";
@import "partials/_mixins";
@import "partials/_waiting_room";
@import "partials/_game";

html, body{
	background-color:#fff;
	margin:0 auto;
	top:0;
	height:100%;
	min-height:480px;
	max-width:320px;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#wrapper{
	@include white_font();
	overflow:hidden;
} 
