@import "compass";
@import "partials/fonts";
@import "partials/mixins";
@import "partials/waiting_room";
@import "partials/game";
@import "partials/on_board";
@import "partials/photo_grid";
html, body{
	background-color:#fff;
	margin:0 auto;
	top:0;
	height:100%;
	min-height:480px;
	max-width:320px;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

#wrapper{
	@include white_font();
	overflow:hidden;
	width:320px;
} 

#filler{
	height:100%;
	width:100%;
	background-image:url('../images/bgnoise.jpg');
	background-repeat:repeat;
	//@include background-image(linear-gradient(bottom, #6f6f6f, #aaa));
}