@import "compass";
html, body{
	background-color:#fff;
	margin:0;
	top:0;
	height:100%;
	min-height:480px;
}


@mixin gradient($height, $main-light, $main-dark, $shadow-light, $shadow-dark, $z){
	@include background-image(linear-gradient(top, $main-light, $main-dark 50%, $main-light));
	@include box-shadow( 0px 5px 6px -3px rgba(0,0,0,.7));
	height:$height;
	//height:$height;
	width:100%;
	position:relative;
	z-index:$z;

	&:before{
		content:" ";
		display:block;
		position:absolute;
		bottom:0px;
		width:inherit;
		@include background-image(linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.8) 50%, rgba(255,255,255,0)));
		height:1px;
		z-index:$z + 1;
	}
	&:after{
		content:" ";
		display:block;
		position:absolute;
		bottom:-2px;
		width:inherit;
		@include background-image(linear-gradient(left, $shadow-light, $shadow-dark 50%, $shadow-light));
		//@include box-shadow(inset 0px 0px 4px 0px rgba(0,0,0,.6));
		height:2px;
		z-index:$z - 1;
	}
}
#wrapper{
	font-family:Helvetica, Arial;
	font-weight:bold;
	color:#f8f2f2;
	@include text-shadow(rgba(0,0,0,.35) 0px 1px 1px);
}
#red{
	@include gradient( 48px, #ff8282, #ff4545, #930202, #fb8080, 20);
}
#blue{
	@include gradient( 240px, #8eb4ff, #4986ff, #6699ff, #003194, 17);
}
#green{
	@include gradient( 120px, #71e2a1, #28c66b, #a5ffcb, #029346, 14);
}
#purple{
	@include gradient( 72px, #dd79dd, #de52de, #ff83ff, #912c91, 11);
}

.section{
	>div{
		display:table;
		width:100%;
		height:100%;
		padding-top:6px;
		p{
			display:table-cell;
			vertical-align: middle; 
  			text-align: center;
		}
		.left_arrow{
			cursor: pointer;
			padding-left:15px;
			padding-right:25px;
		}
		.right_arrow{
			cursor: pointer;
			padding-left:25px;
			padding-right:15px;
		}
	}

	#players{
			display:table;
			vertical-align: middle; 
  			text-align: center;
  			margin:0 auto;
  			margin-top:54px;

  			#you, #opponent{
  				display:table-cell;
  				width:100px;
  				height:100px;
  				background-color:#ccc;
  				@include border-radius(10px);
  			}

  			#vs{
  				vertical-align:middle;
  				display:table-cell;
  				width:100px;
  				height:100px;
  			}
	}
}