<html>
<head>
<head profile="http://www.w3.org/2005/10/profile">
<link rel="shortcut icon" href="http://c15075740.r40.cf2.rackcdn.com/favicon.ico">
<meta name="description" content="playdo.pe - play games with nearby people. make new friends.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-touch-fullscreen" content="YES" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no">
<meta name="HandheldFriendly" content="true" />

<title>playdope</title>
<body bgcolor="#ffffff">
<style type="text/css">
.text{
color:#ff6666;
font-family: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', 'sans-serif';
text-align:center;
}
a{
color:#ff6666;
}
</style>

<center><img src="http://4234e8640077f700febe-15eed6618bc6767f46faea87e9715967.r99.cf2.rackcdn.com/playdope-small-rgb.png" style="margin-top:20%"></center><br>
<div class="text">
<span class="text" style="font-size:30px;font-weight:12px;">oh no! something has gone horribly wrong.</span><br><br><br>Make sure you're logged in to <a href="http://playdo.pe">playdo.pe</a><br>if you must <a href="mailto:contact@playdo.pe">contact@playdo.pe</a>
</div>
</body>
</html>



