<html>
<head>
<head profile="http://www.w3.org/2005/10/profile">
<link rel="shortcut icon" href="http://c15075740.r40.cf2.rackcdn.com/favicon.ico">
<meta name="description" content="playdo.pe - play games with nearby people. make new friends.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-touch-fullscreen" content="YES" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no">
<meta name="HandheldFriendly" content="true" />

<title>playdope</title>
<body bgcolor="#ffffff">

<center><img src="http://c15075740.r40.cf2.rackcdn.com/Playdope-logo-full-resolution%20(1).png" style="max-width:960px;margin-top:20%"></center><br>
<div style="color:#ff6666;font-family:HelveticaNeueLight, HelveticaNeue-Light, Helvetica Neue Light, HelveticaNeue, Helvetica Neue, TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;text-align:center;">
<h1>uh oh! something has gone horribly wrong.</h1><br>Make sure you're logged in to playdo.pe<br>if you must <b>contact@playdo.pe</b>
</div>
</body>
</html>



