<p>Yo {{first_name}}!</p>

<p>It's been a minute since we last spoke. I'm excited to invite you to join Playdope, a game that connects you with nearby people. I can't wait to have you as a member of our little community!</p>

<o>To complete your account, click the link below and login with your Foursquare account!</p>

<a href="http://staging.tryfourplay.com/?invite_code={{invite_code}}">http://staging.tryfourplay.com/?invite_code={{invite_code}}</a>

<p><li><b>What's the 411?</b></li>
<ul>
<li>Check in to your current location</li>
<li>Find nearby people to play with</li>
<li>Select a trivia game to play</li>
<li>We notify you via SMS when your partner is ready to play!</li>
</ul>
<p>That's it for now. Go try it out and feel free to send feedback to hi@playdope.com!</p>
<p>Play on playa!<br>-Matt and the Playdope Boys</p>
