<div data-role="page" data-theme="c">
	
	<div data-role ="header" style="">
		<h1 style="font-family:Gotham Medium; letter-spacing:0px; font-size:16px; font-weight:bold; text-transform:none;">Connecting...</h1>
	</div>
	
	<div data-role="body">
		<center>
			<p style="font-family:Gotham Medium, Lato; font-size:16px; margin-bottom:50px; text-transform:none; letter-spacing:0px; width:80%">
You're going to get a text from Fourplay like right now. This message will self destruct in 30 seconds. Don't drop your phone.

			</p>

			<a href="javascript: history.go(-2)" data-role="button" data-theme="f">Back</a>
		</center>
	</div>
</div>

