<html>
<head>
<head profile="http://www.w3.org/2005/10/profile">
<link rel="shortcut icon" href="http://c15075740.r40.cf2.rackcdn.com/favicon.ico">
<meta name="description" content="playdo.pe - play games with nearby people. make new friends.">

<title>playdope</title>
<body bgcolor="#ffffff">

<center><img src="http://c15075740.r40.cf2.rackcdn.com/Playdope-logo-full-resolution%20(1).png" style="max-width:960px;margin-top:20%"></center><br>
<div style="color:#ff6666;font-family:Helvetica, Arial, sans-serif /*{global-font-family}*/;text-align:center;">
<h1>please access playdo.pe from a mobile device!</h1><br>if you must <b>contact@playdo.pe</b><br><a href="https://mixpanel.com/f/partner"><img src="https://mixpanel.com/site_media/images/partner/badge_light.png" alt="Mobile and Web Analytics" /></a>
</div>
</body>
</html>
