<html>
<head>
<meta name="description" content="Fourplay allows people to see who's checked in nearby and figure out the hottest places to go to meet new people. Anyone on Fourplay can send a message to someone checked in nearby on Foursquare and start a conversation over SMS that never reveals either user's phone number. It's free, only lasts 30 minutes, and is totally addicting.">

<title>Fourplay - Check in, get checked out.</title>
<body bgcolor="#AE000F">

<center><img src="http://getpostd.com/logo.png" style="max-width:960px"></center>
<div style="color:#faf8be;font-family:Helvetica, Arial, sans-serif /*{global-font-family}*/;margin-top:-200px;text-align:center;">
<h1>NEED TO LOG IN FROM A MOBILE PHONE PLEASE</h1><br>if you must <b>contact@tryfourplay.com</b>
</div>
</body>
</html>
