<div data-role="page" data-theme="c">
	
	<div data-role ="header" style="">
		<h1 style="letter-spacing:0px; font-size:16px; font-weight:bold; text-transform:none;">Uh oh!</h1>
	</div>
	
	<div data-role="body">
		<center>
		  <img src="http://c4261091.r91.cf2.rackcdn.com/sad.png">
			<p style="font-family:Lato; font-size:14px; margin-bottom:80px; text-transform:none; letter-spacing:0px;">
			Looks like not enough people are using Foursquare near your current location at the moment. Please check back at a different hour or go somewhere more urban to fully experience the magic that is Fourplay.
			</p>

			<a href="javascript: history.go(-2)" data-role="button" data-theme="f">Back</a>
		</center>
	</div>
</div>

