<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>faq</title>
<style type="text/css">
body {font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;font-size:12px}
.title{color:#ff6666;font-family: "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;font-weight:bold;font-size:14px;}
#content {margin-left:15px;margin-right:15px;margin-top:20px}


</style>
</head>
<body>
	<ul>
<li><a href="#faq1">What is playdope?</a></li>
<li><a href="#faq2">How are nearby people pulled into the app?</a></li>
<li><a href="#faq3">How do I ensure I get "picked" to play?</a></li>
<li><a href="#faq4">How do I ensure that nobody sees me nearby?</a></li>
<li><a href="#faq5">What happens after the game?</a></li>
<li><a href="#faq6">What happens after I invite someone to play?</a></li>
<li><a href="#faq7">How do I make new friends?</a></li>
</ul>
<hr>
<div id="content">
<dt id="faq1" class="title">What is playdope?</dt>
	<dd>playdope is a game played with nearby people. It's timed trivia over topics that break the ice. </dd>
<dt id="faq2" class="title">How are nearby people pulled into the app?</dt>
	<dd>We currently implement publicly available checkin data to show nearby people. Tens of millions of people share their location each day and we want to use every and any service that can provide this information. </dd>
<dt id="faq3" class="title">How do I ensure I get "picked" to play?</dt>
<dd>	Currently, all nearby people displayed have publicly checked in using Foursquare and have a Twitter account linked to their Foursquare. You can check to see if yours is linked here.</dd>
<dt id="faq4" class="title">How do I ensure that nobody sees me nearby?</dt>
	<dd>You will not show up in the application if you check in privately or opt-out of our service. You can also block particular users in the event that you want to avoid a particular person.</dd>
<dt id="faq5" class="title">What happens after the game?</dt>
	<dd>After playing a timed game you will be paired in an anonymous SMS conversation with your opponent for the next hour. Neither user's phone number will be revealed and the line expires after that time period.</dd>
<dt id="faq6" class="title">What happens after I invite someone to play?</dt>
	<dd>Unlike other mobile games, playdope requires both users to play at the same time. After initiating a request to play someone, they will receive a public tweet from @playdope with a link to a screen that looks like this. Things we'll reveal about you include your twitter bio, foursquare profile photo, and interests from klout.</dd>
<dt id="faq7" class="title">How do I make new friends?</dt>
	<dd>Make new friends by inviting more people to play with you! The more you invite, the better chance you'll play, and who knows what may happen from there?</dd></div>
</body>
