<html>
<head>
	<meta charset="utf-8">
	<title>playdo.pe</title>
	<link rel="shortcut icon" href="http://c15075740.r40.cf2.rackcdn.com/favicon.ico">
	<META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="description" content="playdo.pe is a fun way to play games with nearby people you should know.">
	<META NAME="KEYWORDS" CONTENT="playdope,playdo.pe,play dope, dope, lbs game, location game, nearby, game">
	<link rel="stylesheet" href="/static/stylesheets/add2home.css">
	<link rel="apple-touch-icon-precomposed" href="http://c15075740.r40.cf2.rackcdn.com/Icon@2x.png" />
	  <!-- start Mixpanel --><script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("scr
	ipt");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/s
	ite_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=fun
	ction(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_links track_forms register re
	gister_once unregister identify name_tag set_config".split(" ");for(e=0;e<                g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);mixpanel.init("58e3c644f32d1b4f722dcf78a1e2cf58");</script><!-- end Mixpanel -->
	<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-33635510-1']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script');
	ga.type = 'text/javascript';
	ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(ga, s);
})();


var addToHomeConfig = {
	animationIn: 'fade',
	animationOut: 'bubble',
	lifespan: 10000,
	expire: 1440,
	touchIcon: true,
	bottomOffset: 0,
	message: 'Add playdo.pe to your <strong>%device</strong>! Click the `%icon`!;)'
};


function geosuccess(position) {
	document.getElementById('lat').value = position.coords.latitude;
	document.getElementById('lon').value = position.coords.longitude;
	document.getElementById('hiddenform').submit()
}

function geofail() {
	alert('To continue Please enable geolocation in your phone\'s settings.')
}

function initgeo() {
	navigator.geolocation.getCurrentPosition(geosuccess, geofail)
}


	</script>
	<script type="application/javascript" src="/static/javascript/add2home.js" charset="utf-8"></script>
<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
<script src="../static/javascript/frontpage.js" type="text/javascript"></script>
<style type="text/css">
#gradient{background:#ffffff;/* Old browsers */
background:-moz-linear-gradient(top,#ffffff 0%,#ffffff 35%,#fafeff 38%,#f6fbfe 49%,#f3fbfe 49%,#f0f9fe 57%,#ebf8fe 60%,#edf7ff 61%,#e4f5fd 68%,#dbf1fe 83%,#d9effc 83%,#d5f0fb 86%,#caebfc 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(35%,#ffffff),color-stop(38%,#fafeff),color-stop(49%,#f6fbfe),color-stop(49%,#f3fbfe),color-stop(57%,#f0f9fe),color-stop(60%,#ebf8fe),color-stop(61%,#edf7ff),color-stop(68%,#e4f5fd),color-stop(83%,#dbf1fe),color-stop(83%,#d9effc),color-stop(86%,#d5f0fb),color-stop(100%,#caebfc));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#ffffff 0%,#ffffff 35%,#fafeff 38%,#f6fbfe 49%,#f3fbfe 49%,#f0f9fe 57%,#ebf8fe 60%,#edf7ff 61%,#e4f5fd 68%,#dbf1fe 83%,#d9effc 83%,#d5f0fb 86%,#caebfc 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#ffffff 0%,#ffffff 35%,#fafeff 38%,#f6fbfe 49%,#f3fbfe 49%,#f0f9fe 57%,#ebf8fe 60%,#edf7ff 61%,#e4f5fd 68%,#dbf1fe 83%,#d9effc 83%,#d5f0fb 86%,#caebfc 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#ffffff 0%,#ffffff 35%,#fafeff 38%,#f6fbfe 49%,#f3fbfe 49%,#f0f9fe 57%,#ebf8fe 60%,#edf7ff 61%,#e4f5fd 68%,#dbf1fe 83%,#d9effc 83%,#d5f0fb 86%,#caebfc 100%);/* IE10+ */
background:linear-gradient(to bottom,#ffffff 0%,#ffffff 35%,#fafeff 38%,#f6fbfe 49%,#f3fbfe 49%,#f0f9fe 57%,#ebf8fe 60%,#edf7ff 61%,#e4f5fd 68%,#dbf1fe 83%,#d9effc 83%,#d5f0fb 86%,#caebfc 100%);/* W3C */
height:100%;width:100%;margin-top:-80%;z-index:-10;position:absolute;}
#container{background-image:url('http://4234e8640077f700febe-15eed6618bc6767f46faea87e9715967.r99.cf2.rackcdn.com/city.png');background-size:100%;background-repeat:no-repeat;width:320px;;height:445px;z-index:-3;background-position:left bottom;}
#top img{max-width:250px;margin:0 auto;}
#list{margin-top:-5px;}
#vprop{font-family:'HelveticaNeueLight','HelveticaNeue-Light','Helvetica Neue Light','HelveticaNeue','Helvetica Neue','TeXGyreHerosRegular','Helvetica','Tahoma','Geneva','Arial','sans-serif';font-size:21px;color:#F66;margin-top:7px;}
.step{background-image:url('http://4234e8640077f700febe-15eed6618bc6767f46faea87e9715967.r99.cf2.rackcdn.com/button.png');background-repeat:no-repeat;width:284px;height:80px;color:black;background-size:58px;font-size:4px;padding-top:8px;margin-left:45px;overflow:hidden;}
#step1{}
#step2,#step3{margin-top:-30px;}
.depth{display:block;padding:4px;color:black;font:bold 6em Helvetica,sans-serif;position:relative;margin-left:17px;z-index:0;padding-top:5px;}
.depth:before,.depth:after{content:attr(number);padding:4px;color:white;position:absolute;}
.depth:before{top:2px;left:1px}
.depth:after{top:2px;left:2px}
#line,#line2,#line3{border-radius:15px;background-color:gray;width:0px;height:46px;opacity:0.4;z-index:-1;position:relative;margin-left:15px;margin-top:-38px;}
#kids{background-image:url('http://4234e8640077f700febe-15eed6618bc6767f46faea87e9715967.r99.cf2.rackcdn.com/kids.png');position:absolute;z-index:7;width:346px;height:100%;background-size:50%;background-repeat:no-repeat;margin-top:-22px;}
#mask1{width:187px;height:100px;position:absolute;z-index:100;margin-top:-100px;background-color:white;}
#mask2{position:relative;width:59px;height:80px;z-index:10;background-color:white;margin-left:280px;}
.text{font-family:'HelveticaNeueLight','HelveticaNeue-Light','Helvetica Neue Light','HelveticaNeue','Helvetica Neue','TeXGyreHerosRegular','Helvetica','Tahoma','Geneva','Arial','sans-serif';position:absolute;color:white;font-size:18px;margin-top:-27px;margin-left:58px;font-weight:bold;text-shadow:0px 1px 1px gray;display:none;}
#fsq{background-image:url('https://playfoursquare.s3.amazonaws.com/press/logo/connect-white@2x.png');background-size:61%;height:31px;margin-bottom:17px;margin-top:10px;background-repeat:no-repeat;}

</style>
</head>
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">
<div id="container">
	<div id="top">
		<img src="http://c15075740.r40.cf2.rackcdn.com/Playdope-logo-full-resolution%20(1).png">
		<div id="mask1">
			<div id="mask2"></div>
		</div>
		<div id="vprop">
			Make Nearby Friends.
		</div>
		<div id="fsq" onclick="initgeo();mixpanel.track('home-to-foursquare-auth')"></div>
		<div id="list">
			<div id="step1" class="step">
				<span class="depth" number="1">1</span>
				<div id="text1" class="text">
					Check out who's around
				</div>
				<div id="line"></div>
			</div>
			<div id="step2" class="step">
				<span class="depth" number="2">2</span>
				<div id="text2" class="text">
					Challenge them to trivia
				</div>
				<div id="line2"></div>
			</div>
			<div id="step3" class="step">
				<span class="depth" number="3">3</span>
				<div id="text3" class="text">
					The rest is up to you...
				</div>
				<div id="line3"></div>
			</div>
		</div>
		<div id="kids"></div>
	</div>
	<div id="gradient"></div>
</div>
  <form name="hiddenform" id="hiddenform" action="/login">
<input type="hidden" id="lat" name="lat" >
<input type="hidden" id="lon" name="lon" >
</form>
</body>
</html>
