<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-touch-fullscreen" content="YES" />

<style type="text/css">
.modalOverlay
{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  margin:0;
  padding:0;
  background:#000;
 opacity:0;
  -webkit-transition: opacity 0.3s ease-in;
  z-index:101;
}

.modalWindow
{
  position:fixed;
  top:150px;
  margin:0;
  border:2px solid #fff;
  width:180px;
  /*height:30px;*/
  text-align:center;
  word-spacing:2px;
  line-height:15px;
  font-weight:bold;
  font-size:13px;
  color:#fff;
  padding:10px;
  opacity:0;
  z-index:102;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7c9bc0), color-stop(2%, #416086), color-stop(100%, #293e56));
  -webkit-border-radius:8px;
  -webkit-box-shadow:-1px 2px 12px rgba(0, 0, 0, 0.91);
  -webkit-transition: opacity 0.3s ease-in;
}


</style>



<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script src="http://staging.tryfourplay.com/static/js/games/{{game_id}}.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script>
var elem = document.getElementById('query')
Pusher.channel_auth_endpoint = 'http://staging.tryfourplay.com/pusher/auth'
var pusher = new Pusher('890abd57f862ab2712ff'); 
var privateChannel = pusher.subscribe('private-{{channel_id}}');
var presenceChannel = pusher.subscribe('presence-{{channel_id}}');
var guessed = new Array();

function startclock(){ var counter = setInterval('timer()',1000);};

presenceChannel.bind('pusher:member_added', function(member) {hidePopUpMessage();alert('we ready to play!'); privateChannel.trigger("client-{{channel_id}}-clock",{'state':'start'}); startclock();});
privateChannel.bind('client-{{channel_id}}-clock', function(){hidePopUpMessage(); startclock()});
privateChannel.bind('client-{{channel_id}}-game', function(data) {
      document.getElementById("cell"+data.id).innerHTML=data.message
});
privateChannel.bind('client-{{channel_id}}-game', function(data) {
      if (data.user != presenceChannel.members.me.id){ document.getElementById('otherscore').innerHTML ++}});

function checkinput(ArrayObj,query){
  var lowerquery=query.value.toLowerCase();
  var Found = false;
  for (var i = 0; i < ArrayObj.length; i++){
    if (ArrayObj[i] == lowerquery && guessed.indexOf(lowerquery) == -1){
	   var da_index = ArrayObj.indexOf(lowerquery);
      document.getElementById("cell"+da_index).innerHTML=lowerquery;
            guessed.push(lowerquery);
	  privateChannel.trigger("client-{{channel_id}}-game", {'id':da_index,'message':lowerquery,'user':presenceChannel.members.me.id});
         document.getElementById('myscore').innerHTML++;
	  document.getElementById('query').value="";
      var Found = true;
      break;
    }
    else if ((i == (ArrayObj.length - 1)) && (!Found)){
      if (ArrayObj[i] != lowerquery){
        return false;
      }
    }
  }
}

</script>
<script>

var count=300;
function timer()
{
  count=count-1;
  if (count == 0)
  {
     var victory = document.getElementById("myscore").innerHTML > document.getElementById("otherscore").innerHTML
     document.getElementById("timer").innerHTML = '0:00';
     clearInterval();
     showPopUpMessage("<p>We DONE</p>");
     $.get("http://staging.tryfourplay.com/textall",{'victory':victory},function(){alert('sent')});

     alert('DONE');

  }
 var secs=count%60;
 if (secs.toString().length < 2)
 {
  secs = '0' + secs;
 }
 document.getElementById("timer").innerHTML= Math.floor(count/60) + ":"+ secs;
}

</script>
<script type = "text/javascript">
var overlayElement = null;
var modalWindowElement = null;

    window.onload = function() {        showPopUpMessage("Hol' Up!<p>We're connecting your opponent right now...</p>")};
//show the modal overlay and popup window
function showPopUpMessage(msg) {
    overlayElement = document.createElement("div");
    overlayElement.className = 'modalOverlay';
    modalWindowElement = document.createElement("div");
    modalWindowElement.className = 'modalWindow';
    modalWindowElement.innerHTML = msg;
    modalWindowElement.style.left = (window.innerWidth - 200) / 2 + "px";
    document.body.appendChild(overlayElement);
    document.body.appendChild(modalWindowElement);
    setTimeout(function() {
    modalWindowElement.style.opacity = 1;
    overlayElement.style.opacity = 0.4;
     }, 300);
     }

//hide the modal overlay and popup window
function hidePopUpMessage() {
    modalWindowElement.style.opacity = 0;
    overlayElement.style.opacity = 0;
      setTimeout(function() {
         document.body.removeChild(overlayElement);
         document.body.removeChild(modalWindowElement);
         }, 400);}


</script>



</head>
<body> 
	AYO CAN YOU GUESS DEEZ THREE CARZ?<br>
<br>
<span id="timer" style="font-size:25px;font-weight:bold"></span>
	<input id="query" width="50" onkeyup="checkinput(answers,this);">
	<input type="submit" value="clear" onclick="document.getElementById('query').value='';">
<table height="200px" width="200px"border="1">
	<tr>
		<td  id="cell0" width="100px">
			</td>
		<td id="cell3"></td>
				</tr>
				<tr>
					<td id="cell1" width="100px">
						</td>
					<td id="cell4">
							</tr>
							<tr>
								<td id="cell2" width="100px">
									</td>
								<td id="cell5">
										</tr>
<tr>
<td>My Score</td><td id="myscore">0</td></tr>
<tr>
<td>Your Score</td><td id="otherscore">0</td>
</tr>
										</table>
										</body>
							
			
</html>
