<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-touch-fullscreen" content="YES" />

<style type="text/css">
.game td {
width:100px;
height:50px;
}

.shroud
{
display: none;

}

.modalOverlay
{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  margin:0;
  padding:0;
  background:#000;
 opacity:0;
  -webkit-transition: opacity 0.3s ease-in;
  z-index:101;
}

.modalWindow
{
  position:fixed;
  top:150px;
  margin:0;
  border:2px solid #fff;
  width:180px;
  /*height:30px;*/
  text-align:center;
  word-spacing:2px;
  line-height:15px;
  font-weight:bold;
  font-size:13px;
  color:#fff;
  padding:10px;
  opacity:0;
  z-index:102;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7c9bc0), color-stop(2%, #416086), color-stop(100%, #293e56));
  -webkit-border-radius:8px;
  -webkit-box-shadow:-1px 2px 12px rgba(0, 0, 0, 0.91);
  -webkit-transition: opacity 0.3s ease-in;
}


</style>



<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script src="http://staging.tryfourplay.com/static/js/games/{{game_id}}.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script src="http://c4261091.r91.cf2.rackcdn.com/jquery-ui-1.8.20.custom.min.js"></script>

<script>
if (typeof labels == "undefined"){ var num_cols=2; var thespan=1;}else{var num_cols=4;var thespan=2;};

function createTable()
{
    var num_rows = answers.length/2;
    var theader = '<table border="1" id="game" class="game">\n';
    var tbody = '';
    var count= 0
    var lcount = 0
    for( var i=0; i<num_rows;i++)
    {
        tbody += '<tr>';
        for( var j=0; j<num_cols;j++)
        {
            if (typeof labels != "undefined" && (j==0 || j==num_cols-2)){
	    tbody += '<td id=label'+lcount+'>';
            tbody +=labels[lcount]; lcount++ ;}
	    else { tbody += '<td id=cell'+count+'><span class="shroud" id=ans'+count+'>';count++;}
            tbody += '</span></td>'
            
        }
        tbody += '</tr>\n';
    }
    var tfooter = '<tr><td colspan='+thespan+'>My Score</td><td colspan='+thespan+' id=myscore>0</td><tr><td colspan='+thespan+'>Their Score</td><td colspan='+thespan+' id=otherscore>0</td></tr></table>';
    document.getElementById('wrapper').innerHTML = theader + tbody + tfooter;
}

</script>


<script>
var elem = document.getElementById('query')
Pusher.channel_auth_endpoint = 'http://staging.tryfourplay.com/pusher/auth'
var pusher = new Pusher('890abd57f862ab2712ff'); 
var privateChannel = pusher.subscribe('private-{{channel_id}}');
var presenceChannel = pusher.subscribe('presence-{{channel_id}}');
var guessed = new Array();

$(document).ready(function(){document.getElementById('desc').innerHTML=desc;if (presenceChannel.members.count == 1){$.get('/nudge'),{'uid':'test0'}};});

function startclock(){ return setInterval('timer()',1000);};
presenceChannel.bind('pusher:subscription_succeeded', function(members){ alert(members.count); if (members.count == 1){$.get('/nudge',{'uid':'{{channel_id}}'})}});

presenceChannel.bind('pusher:member_added', function(member) {hidePopUpMessage();alert('we ready to play!'); privateChannel.trigger("client-{{channel_id}}-clock",{'state':'start'}); createTable(); counter=startclock();});
privateChannel.bind('client-{{channel_id}}-clock', function(){hidePopUpMessage();createTable();counter=startclock()});
privateChannel.bind('client-{{channel_id}}-game', function(data) {
      document.getElementById("ans"+data.id).innerHTML=data.message; $('#ans'+data.id).effect("highlight",{},1000);
$('#cell'+data.id).effect("highlight",{},1000);});
privateChannel.bind('client-{{channel_id}}-game', function(data) {
      if (data.user != presenceChannel.members.me.id){ document.getElementById('otherscore').innerHTML ++}});




function checkinput(ArrayObj,entry){
  var lowerquery=entry.value.toLowerCase();
  var Found = false;
  for (var i = 0; i < ArrayObj.length; i++){
    if (ArrayObj[i] == lowerquery && guessed.indexOf(lowerquery) == -1){
	   var da_index = ArrayObj.indexOf(lowerquery);
      document.getElementById("ans"+da_index).innerHTML=lowerquery;
	$('#ans'+da_index).effect("highlight",{},1000);
	$('#cell'+da_index).effect("highlight",{},1000);
            guessed.push(lowerquery);
	  privateChannel.trigger("client-{{channel_id}}-game", {'id':da_index,'message':lowerquery,'user':presenceChannel.members.me.id});
         document.getElementById('myscore').innerHTML++;
	  document.getElementById('query').value="";
      var Found = true;
      break;
    }
    else if ((i == (ArrayObj.length - 1)) && (!Found)){
      if (ArrayObj[i] != lowerquery){
        return false;
      }
    }
  }
}

</script>
<script>

var count=300;
function timer()
{
  count=count-1;
  if (count == 0)
  {
     var victory = document.getElementById("myscore").innerHTML > document.getElementById("otherscore").innerHTML
     document.getElementById("timer").innerHTML = '0:00';
     clearInterval(counter);
     showPopUpMessage("<p>We DONE</p>");
     $.get("http://staging.tryfourplay.com/textall",{'victory':victory},function(){alert('sent')});

     alert('DONE');

  }
 var secs=count%60;
 if (secs.toString().length < 2)
 {
  secs = '0' + secs;
 }
 document.getElementById("timer").innerHTML= Math.floor(count/60) + ":"+ secs;
}

</script>
<script type = "text/javascript">
var overlayElement = null;
var modalWindowElement = null;

    window.onload = function() {        showPopUpMessage("Hol' Up!<p>We're connecting your opponent right now...</p>")};
//show the modal overlay and popup window
function showPopUpMessage(msg) {
    overlayElement = document.createElement("div");
    overlayElement.className = 'modalOverlay';
    modalWindowElement = document.createElement("div");
    modalWindowElement.className = 'modalWindow';
    modalWindowElement.innerHTML = msg;
    modalWindowElement.style.left = (window.innerWidth - 200) / 2 + "px";
    document.body.appendChild(overlayElement);
    document.body.appendChild(modalWindowElement);
    setTimeout(function() {
    modalWindowElement.style.opacity = 1;
    overlayElement.style.opacity = 0.4;
     }, 300);
     }

//hide the modal overlay and popup window
function hidePopUpMessage() {
    modalWindowElement.style.opacity = 0;
    overlayElement.style.opacity = 0;
      setTimeout(function() {
         document.body.removeChild(overlayElement);
         document.body.removeChild(modalWindowElement);
         }, 400);}


</script>



</head>
<body> 
	<span id="desc"> </span>
<br>
<span id="timer" style="font-size:25px;font-weight:bold"></span>
	<input id="query" width="50" onkeyup="checkinput(answers,this)">
	<input type="submit" value="clear" onclick="document.getElementById('query').value='';">
										</table><div id="wrapper"> </div>
										</body>
							
			
</html>
