<!DOCTYPE html> 
<html> 
	<head> 
	<title>Playdope</title> 
	<link rel="stylesheet" href="../static/stylesheets/style.css" />
	
</head> 
<body>
	<div id="fixed_bg"></div>
	<div id="gather_info_wrapper">
		<header>Please update some info
		</header>

		<div id="info_box">
			<div id="exclamation"></div>
			<div class="text">
				<div class="info_header">Where are you?</div>
				<div class="input">
					<input type="text" />
					<div>Venue name</div>
				</div>
				<div class="info_header">Where are you?</div>
				<div class="input">
					<input type="text" />
					<div>Venue name</div>
				</div>
				<div class="info_header">Where are you?</div>
				<div class="input">
					<input type="text" />
					<div>Venue name</div>
				</div>
			</div>
			<div id="venue-dropdown-wrapper">
			<div class="arrow-up"></div>
			<div id="venue-dropdown">

			<ul class="ui-menu">
				<li class="ui-menu-item" role="menuitem" style="background-color: grey;">
					<a class="ui-corner-all" tabindex="-1">
						<div>
							<div class="autocomplete-name">Tre Restaurant &amp; Wine Bar</div>
							<div class="autocomplete-detail">173 Ludlow St</div>
							<div class="autocomplete-detail">New York, NY 10002</div>
						</div>
					</a>
				</li>
				<li class="ui-menu-item" role="menuitem" style="background-color: grey;">
					<a class="ui-corner-all" tabindex="-1">
						<div>
							<div class="autocomplete-name">Tre Restaurant &amp; Wine Bar</div>
							<div class="autocomplete-detail">173 Ludlow St</div>
							<div class="autocomplete-detail">New York, NY 10002</div>
						</div>
					</a>
				</li>
			</ul>
			</div>
		</div>

		</div>
		<div id="button">Let's Play</div>

	</div>
</body>
</html>
