<!DOCTYPE html> 
<html> 
	<head> 
	<title>Playdope</title> 
	<link rel="stylesheet" href="../static/stylesheets/style.css" />
	<script type="text/javascript" src="../static/javascript/on_board_ui.js"></script>
</head> 
<body>
	<div id="fixed_bg"></div>
	<div id="gather_info_wrapper">
		<header>
			<div id="back_button">
				<a href="javascript:history.back()" data-rel="back">Back</a>
			</div>
		</header>

		<div id="info_box">
			<div id="exclamation"></div>
			<div class="text">
				<div class="info_header">Where are you?</div>
				<div class="input">
					<input type="text" />
					<div>Venue name</div>
				</div>
				<div class="info_header">Where are you?</div>
				<div class="input">
					<input type="text" />
					<div>Venue name</div>
				</div>
				<div class="info_header">Where are you?</div>
				<div class="input">
					<input type="text" />
					<div>Venue name</div>
				</div>
			</div>
		</div>
		<div id="button">Let's Play</div>

	</div>
</body>
</html>
