
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fourplay</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="http://www.getpostd.com/style/add2home.css">

<script type="text/javascript">
var addToHomeConfig = {
animationIn: 'fade',
animationOut: 'bubble',
lifespan:10000,
expire:1440,
touchIcon:true,
message:'Add fourplay to your <strong>%device</strong>! Click the `%icon`! Talk about easy access ;)'
};
</script>
<script type="application/javascript" src="http://getpostd.com/src/add2home.js" charset="utf-8"></script>
</head>
<body bgcolor="#A00E20">
<img align="center" style="max-width:320px;" src="http://getpostd.com/fourplay_logo.png"><div align="center">
Check out people checked in near you.
<a href="/login">
<img src="https://playfoursquare.s3.amazonaws.com/press/logo/connect-white@2x.png" style="max-width:200px;padding-top:100px">
</div>
</body>
</html>
