
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>playdo.pe</title>
<link rel="shortcut icon" href="http://c15075740.r40.cf2.rackcdn.com/favicon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="description" content="playdo.pe is a fun way to play games with nearby people you should know.">
<META NAME="KEYWORDS" CONTENT="playdope,playdo.pe,play dope, dope, lbs game, location game, nearby, game">
  <link rel="stylesheet" href="/static/stylesheets/add2home.css">
	<link rel="apple-touch-icon-precomposed" href="http://c15075740.r40.cf2.rackcdn.com/Icon@2x.png" />
                <!-- start Mixpanel --><script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("scr
ipt");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/s
ite_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=fun
ction(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_links track_forms register re
gister_once unregister identify name_tag set_config".split(" ");for(e=0;e<                g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);mixpanel.init("58e3c644f32d1b4f722dcf78a1e2cf58");</script><!-- end Mixpanel -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33635510-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


var addToHomeConfig = {
animationIn: 'fade',
animationOut: 'bubble',
lifespan:10000,
expire:1440,
touchIcon:true,
bottomOffset:0,
message:'Add playdope to your <strong>%device</strong>! Click the `%icon`! Talk about easy access ;)'
};


function geosuccess(position){document.getElementById('lat').value=position.coords.latitude;document.getElementById('lon').value=position.coords.longitude;document.getElementById('hiddenform').submit()}

function geofail(){alert('To continue Please enable geolocation in your phone\'s settings.')}

function initgeo(){navigator.geolocation.getCurrentPosition(geosuccess,geofail)}



</script>
<script type="application/javascript" src="/static/javascript/add2home.js" charset="utf-8"></script>
<style type="text/css">

@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}

}
.fade-in {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}

.fade-in.one {-webkit-animation-delay: 0, 0;}
.fade-in.two {-webkit-animation-delay: 0, .5s;}
.fade-in.three {-webkit-animation-delay: 0, .8s;}

a:link{color:#FAF8BE;}

.info{font-size:10px;}
</style>

</head>
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">
<div align="center" class="fade-in one" style="font-family:HelveticaNeueLight, HelveticaNeue-Light, Helvetica Neue Light, HelveticaNeue, Helvetica Neue, TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif;size:10px;color:#ff6666"> <img style="max-width:250px;padding-top:20px" src="http://c15075740.r40.cf2.rackcdn.com/Playdope-logo-full-resolution (1).png"><br><br>Make new friends.</div>

<div class="fade-in three" align="center" style="padding-top:50px; padding-bottom:20px">
  <form name="hiddenform" id="hiddenform" action="/login">
<input type="hidden" id="lat" name="lat" >
<input type="hidden" id="lon" name="lon" >
		<img src="https://playfoursquare.s3.amazonaws.com/press/logo/connect-white@2x.png" style="max-width:200px" onclick="initgeo();mixpanel.track('home-to-foursquare-auth')">
</div>
<div align="center" style="float:bottom" class="fade-in two"><img src="http://c15075740.r40.cf2.rackcdn.com/newbottom.jpg"></div>
</body>
</html>
