<!DOCTYPE html>  
<html>  
  <head>
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
  
  <form name="MyForm" id="MyForm" action="/gallery" method="get" >
	
	<input type=hidden name="lat" id=”lat″>
	<input type=hidden name="lon" id=”lon″>
	<input type=hidden name="gender" id="gender">
	
 </form>
 
     <script>  
        jQuery(window).ready(function(){  
            jQuery("#btnInit").click(initiate_geolocation);  
        });
                jQuery(window).ready(function(){  
            jQuery("#btnInit2").click(initiate_geolocation_male);  
        });  
  
  
        function initiate_geolocation() {  
            navigator.geolocation.getCurrentPosition(handle_geolocation_query,handle_errors);  
        }
        
          
        function initiate_geolocation_male() {  
            navigator.geolocation.getCurrentPosition(handle_geolocation_query_male,handle_errors);  
        }  
  
  
        function handle_errors(error)  
        {  
            switch(error.code)  
            {  
                case error.PERMISSION_DENIED: alert("user did not share geolocation data");  
                break;  
  
                case error.POSITION_UNAVAILABLE: alert("could not detect current position");  
                break;  
  
                case error.TIMEOUT: alert("retrieving position timed out");  
                break;  
  
                default: alert("unknown error");  
                break;  
            }  
        }
        
                function handle_geolocation_query(position){
                var lat=position.coords.latitude
                var lon=position.coords.longitude 
           
                  	$('input[name=lat]').val(lat);
					$('input[name=lon]').val(lon);
					$('input[name=gender]').val('female')
					$('#MyForm').submit();  

				}
				
				function handle_geolocation_query_male(position){
                var lat=position.coords.latitude
                var lon=position.coords.longitude 
           
                  	$('input[name=lat]').val(lat);
					$('input[name=lon]').val(lon);
					$('input[name=gender]').val('male')
					$('#MyForm').submit();  

				}

    </script>  
</head>
<body>    
	<div data-role="page">
		<div data-role="header">
	
	<h1>Who do you want to see?</h1>
	</div>
	<div data-role="content">
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<button type="submit" data-theme="c" id="btnInit" data-ajax="false">Chicks</button></div>
		<div class="ui-grid-b">
			<button type="submit" data-theme="c" id="btnInit2">Dudes</button></div>
			</div>
			</div>
			</div>
			
                              

  </body>  
</html>  
