<html>
<head>
	<script type="text/javascript" src="http://c4261091.r91.cf2.rackcdn.com/jquery.autotab-1.1b.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta name="apple-touch-fullscreen" content="YES" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no">
	<meta name="HandheldFriendly" content="true" />
	</head>
<body>
<div data-role="page" data-theme="a" id="missingnumber">
<div data-role="header" align="center" style="line-height:50px; text-align:center;"> We need your #!</div>
<div align="center" style="padding-top:100px;">
<form action="/missing" method="post">
<table align="center"><tr><td> (</td><td><input type="text" name="area_code" id="area_code" maxlength="3" size="3" /></td><td> ) - </td><td>
    <input type="text" name="number1" id="number1" maxlength="3" size="3"  /></td><td> - </td><td>
    <input type="text" name="number2" id="number2" maxlength="4" size="5" /></td></tr><tr><td colspan="6">
<input type="submit" value="submit"></td></tr>
<input type="hidden" name="user" value="{{role}}">
{% csrf_token %}
</form>
</table><br>
{% if error %}
Please enter a valid phone number!
{% endif %}
</div>
</div>
</body>
</html>
