<!DOCTYPE html> 
<html> 
	<head> 
	<title>Playdope</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../static/stylesheets/style.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../static/javascript/ui.js"></script>
	<script src="/static/js/games/{{game_id}}.js"></script>
	<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
	<script type="text/javascript">
	
Pusher.channel_auth_endpoint = 'http://playdo.pe/pusher/auth'
var pusher = new Pusher('890abd57f862ab2712ff');
var privateChannel = pusher.subscribe('private-{{channel_id}}');
var presenceChannel = pusher.subscribe('presence-{{channel_id}}');

privateChannel.bind('client-{{channel_id}}-game', function(data){$('#opponent_last_guess')[0].innerHTML=data.answer;$('#opponent_score')[0].innerHTML++;$('#guessed')[0].innerHTML++;guessed.push(data.answer);});

presenceChannel.bind('pusher:member_added',function(){waiting_room_to_game();counter=startclock();privateChannel.trigger("client-{{channel_id}}-clock",{'state':'start'})});

privateChannel.bind('client-{{channel_id}}-clock', function(){waiting_room_to_game();setTimeout(function() { window.scrollTo(0, 1) }, 100);counter=startclock();});

presenceChannel.bind('pusher:subscription_succeeded', function(members){if (members.count == 1){$.get('/nudge',{'uid':'{{channel_id}}'})}});

$(document).ready(function(){$('#game_title')[0].innerHTML=title;$('#cta')[0].innerHTML=cta;$('#count')[0].innerHTML=Object.keys(answers).length;$('#noun')[0].innerHTML=noun;if (presenceChannel.members.count == 1){$.get('/nudge',{'uid':'{{channel_id}}'})}});


for (var index in answers){answers[index].push(index.toLowerCase())};
var guessed=[]

function startclock(){setInterval('timer()',1000)};
function timer(){
duration=duration-1;
 var secs=duration%60;
if (duration==0){$('#time_remaining')[0].innerHTML='0:00';clearInterval(counter);var victory = $("#your_score")[0].innerHTML > $("#opponent_score")[0].innerHTML;$.get('/textall',{'victory':victory});};
 if (secs.toString().length < 2)
 {
  secs = '0' + secs;
 }
 document.getElementById("time_remaining").innerHTML= Math.floor(duration/60) + ":" + secs;
}

function checkinput(ArrayObj,entry){
  var lowerquery=entry.value.toLowerCase();
  var Found = false;
  for (var entry in ArrayObj)
{ for (var i = 0; i<ArrayObj[entry].length;i++){ 
if (ArrayObj[entry][i] == lowerquery && guessed.indexOf(entry)==-1){
           $('#your_last_guess')[0].innerHTML=entry;
	   $('#your_score')[0].innerHTML++;
           $('#guessed')[0].innerHTML++;
privateChannel.trigger("client-{{channel_id}}-game", {'answer':entry,'user':presenceChannel.members.me.id});
document.getElementById('game_input').value="";
guessed.push(entry);}}}}




</script>

</head> 
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);"> 
<div id="wrapper">
	<div id="waiting_room">
		<div id="red" class="section"><div id="logo"></div></div>
		<div id="blue" class="section">
			<div>
				<div id="players">
					<div id="you" style="background-image:url('https://is1.4sqi.net/userpix_thumbs/{{user1_pic}}')"></div>
					<div id="vs">vs</div>
					<div id="opponent" style="background-image:url('https://is1.4sqi.net/userpix_thumbs/{{user2_pic}}')"></div>
				</div>
			</div>
		</div>
		<div id="green" class="section">
			<div>
				<p class="left_arrow"><img src="http://c15075740.r40.cf2.rackcdn.com/left_arrow.png" /></p>
				<div id='carousel_inner'>
					<ul id="carousel_ul">
						<li><p id="cta">aksjhd as daksjdh askdjhaskjdh asdkajshd aksdjhak sdkashd ak sdhsjsa</p></li>
						<li><p>test2</p></li>
						<li><p>test3</p></li>
					</ul>
				</div>
				<p class="right_arrow"><img src="http://c15075740.r40.cf2.rackcdn.com/right_arrow.png" /></p>
			</div>
		</div>
		<div id="purple" class="section"><div><p>Waiting for {{user2_name}}...</p></div></div>
	</div>
	<div id="game">
		<div id="lightbox">
			<div id="modal_cell">
				<div id="modal">
					<div class="modal_header"><div id="game_over">Game Over!</div></div>
					<div id="game_over_text">tesaugs daskj hdabffnn aksjgd</div>
					<div id="okay">Okay</div>
				</div>
			</div>
		</div>
		<div id="scoreboard">
			<div id="time_remaining">00:00</div>
			<div id="answers_remaining"><span id="guessed">0</span>/<span id="count"></span></div>
		</div>
		<div id="game_red" class="section"><div><div id="game_title"></div></div></div>
		<div id="game_you" class="game_player">
			<div>
				<img src="https://is1.4sqi.net/userpix_thumbs/JNCBCMQ435FFCV2H.jpg" id="game_opponent" class="player_small" />
				<div id="your_score" class="player_score">0</div>
				<div id="your_last_guess" class="last_guess">Broadway</div>
			</div>
		</div>
		<div id="game_opponent" class="game_player">
			<div>
				<img src="https://is1.4sqi.net/userpix_thumbs/JNCBCMQ435FFCV2H.jpg" id="game_opponent" class="player_small" />
				<div id="opponent_score" class="player_score">0</div>
				<div id="opponent_last_guess" class="last_guess">Test</div>
			</div>
		</div>
		<div id="input_container">
			<div id="input_bg">
				<div id="helper_text">Guess a <span id="noun"></span></div>
				<input type="text" id="game_input" name="game_input" onkeyup="checkinput(answers,this)" />
			</div>
			
			<div id="clear">Clear</div>
		</div>
	</div>
</div>
</body>
</html>
