<!DOCTYPE html> 
<html> 
	<head> 
	<title>Playdope</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../static/stylesheets/style.css" />
	<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="../static/javascript/on_board_ui.js"></script>
<!-- start Mixpanel --><script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_links track_formsregister register_once unregister identify name_tag set_config".split(" ");for(e=0;e<
g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);mixpanel.init("58e3c644f32d1b4f722dcf78a1e2cf58");</script><!-- end Mixpanel -->
<script type="text/javascript">
$(document).ready(function(){ mixpanel.track("Page open");});
$("#message").click(function(){ mixpanel.track("Completed loop");});
$("#stop_sign").click(function(){ mixpanel.track("Unsubscribed");});
$("#block").click(function(){ mixpanel.track("Blocked user");});
</script>

</head> 
<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);"> 

<div id="on_board_wrapper">
	<header>
		<div id="logo"></div>
	</header>
	<div id="picture" style="background-image:url('http://is1.4sqi.net/userpix/{{pic}}');background-size:100%;background-position-y:30%;">
		<div id="black_bubble">I challenge you to a trivia game!</div>
	</div>
	<div id="punch_out"></div>
	<a href="/login" style="border:0;"><div id="play">Play!</div></a>
	<div id="screens">
	<div id="screen_1">
		<div id="game_animation">
			<div id="scene_1">
				<div id="input">
					<div id="animation_text"></div>
				</div>
				<div class="text">Guess as many answers as you can!</div>
			</div>
			<div id="scene_2">
			       <div id="your_score" class="player_score" style="margin-top: 20px;margin-left: 38px;">0</div>
			<div id="sample_guess"></div>
			<div class="text">Earn points by guessing correctly</div>
			</div>
			<div id="scene_3">
				<div id="scoreboard">
					<div id="time_remaining">0:05</div>
				</div>
				<div id="directions">Score the most points before time runs out!</div>
				</div>
		</div>
		<div id="location_info">
			<div id="map_pin"></div>
			<div id="location" class="text">
				<a href="#" onclick="twitter_bio()">{{first_name}}</a> is @ {{ last_checkin }}
			</div>
			<div id="arrow"></div>
		</div>
	</div>
	<div id="screen_2">
		<div id="twitter_bio">
			<div>
			<div id="back_arrow"></div>
			<div id="on_board_name">About {{first_name}}</div>
			<div id="twitter_handle">Location: {{location}}</div>
			<div id="bio">{{bio}}</div>
			</div>
		</div>
	</div>
	</div>
	<footer>
	  <a href="/unsub" style="border:0">
		<div id="stop_sign">
			<span class="text">Opt out of all challenges.</span>
			<div class="icon"></div>
		</div></a><a href="/block" style="border:0">
		<div id="block">
			<span class="text">Block this person.</span>
			<div class="icon"></div>
		</div></a>
	</footer>
</div>
</body>
</html>
