<!DOCTYPE html> 
<html> 
	<head> 
	<title>Playdope</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../static/stylesheets/style.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../static/javascript/on_board_ui.js"></script>
</head> 
<body> 
<div id="on_board_wrapper">
	<header></header>
	<div id="picture" style="background-image:url('http://is1.4sqi.net/userpix/{{pic}}');background-size:100%;background-position-y:30%;">
	</div>
	<div id="punch_out"></div>
	<div id="play">Play!</div>
	<div id="screens">
	<div id="screen_1">
		<div id="game_animation">
			<div id="scene_1">
				<div id="input">
					<div id="animation_text">Something</div>
				</div>
				<div class="text">Lorem ipsum and stuff.</div>
			</div>
		</div>
		<div id="location_info">
			<div id="map_pin"></div>
			<div id="location" class="text">
				<a href="#" onclick="twitter_bio()">{{first_name}}</a> is @ {{ last_checkin }}
			</div>
			<div id="arrow"></div>
		</div>
	</div>
	<div id="screen_2">
		<div id="twitter_bio">
			<div>
			<div id="back_arrow"></div>
			<div id="name">About {{first_name}}</div>
			<div id="twitter_handle">Location: {{location}}</div>
			<div id="bio">{{bio}}</div>
			</div>
			
		</div>
	</div>
	</div>
	<footer>
		<div id="stop_sign">
			<span class="text">Block this person.</span>
			<div class="icon"></div>
		</div>
		<div id="block">
			<span class="text">Block this person.</span>
			<div class="icon"></div>
		</div>
	</footer>
</div>
</body>
</html>
