<!DOCTYPE html> 
<html> 
	<head> 
	<title>Playdope</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../static/stylesheets/style.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../static/javascript/ui.js"></script>
</head> 
<body> 
<div id="on_board_wrapper">
	<header></header>
	<div id="picture" style="background-image:url('http://is1.4sqi.net/userpix/{{pic}}')">
	</div>
	<div id="punch_out"></div>
	<div id="play"></div>
	<div id="bottom">
		<div id="game_animation">

		</div>
		<div id="location_info">
			<div id="map_pin"></div>
			<div id="location" class="text">
				<a href="#">Katie</a> is chillin @ Chipotle.
			</div>
			<div id="arrow"></div>
		</div>
		<footer>
			<div id="stop">
				<span class="text">Block this person.</span>
				<div id="stop_sign"></div>
			</div>
			<div id="stop">
				<span class="text">Block this person.</span>
				<div id="circle_x"></div>
			</div>
		</footer>
	</div>
</div>
</body>
</html>
