<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fourplay</title>

	
	<link rel="stylesheet" href="http://staging.tryfourplay.com/static/css/style1.css">
  <link rel="stylesheet" href="http://getpostd.com/style/add2home.css">

	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta name="apple-touch-fullscreen" content="YES" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no">
	<meta name="HandheldFriendly" content="true" />



<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29130143-1']);
  _gaq.push(['_setDomainName', 'tryfourplay.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


var addToHomeConfig = {
animationIn: 'fade',
animationOut: 'bubble',
lifespan:10000,
expire:1440,
touchIcon:true,
message:'<b>Fourplay</b> is a fun way to discover and communicate with nearby people on Foursquare. All messages to {{first_name}} will mask your phone number.'
};
</script>
<script type="application/javascript" src="http://getpostd.com/src/add2home.js" charset="utf-8"></script>





</head>
<body bgcolor="#A00E20" class="content" onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">
	<div data-role="page" data-theme="a">
		<div data-role="header" data-theme="a" align="center">
			<h1 style="letter-spacing:0px; font-size:16px; font-weight:bold; text-transform:none; width:100%" align="center">{{ first_name }} Messaged You!</h1>
		</div>
	
		<div data-role="body" align="center">
			<div style="width:80%;">
			<h1 style="text-transform:uppercase; font-family:Lato; font-size:14px; margin-bottom:20px;">{{ first_name }} saw your check in @ {{venue}} and was like:</h1>
			</div>
			<img src="https://is1.4sqi.net/userpix/{{pic}}" style="max-width:220px; border:2px solid #c42e4d; z-index:-10;">
			
			<div class="messagesent">
				<b id="sentnotch"></b>
				<h2 id="sentmessage">{{ message }}</h2><br>
				<div style="width:80%">
					<h2 class="aboutheading" align="left">About {{ first_name }}</h2>
					<ul data-role="listview" data-theme="d">
						<li><h3 class="aboutinfo"><span style="font-family:Modern Pictograms; font-size:36px; font-weight:normal; margin-right:10px;">,</span>{{location}}</h3></li>
						<li><div class="ui-li-desc"><h3 style="text-transform:none; letter-spacing:0px;"><span style="font-family:Modern Pictograms; font-size:36px;font-weight:normal; margin-right:10px;">t</span>{{bio}}</h3></div></li>
					</ul>
				</div>
			</div>
			<a href="/login" data-ajax="false" data-role="button" data-theme="f">Message back via anonymous SMS</a>
	
		</div>
	</div>
                       

</body>
</html>
