<!DOCTYPE html> 
<html> 
	<head> 
	<title>Playdope</title> 
	<link rel="stylesheet" href="../static/stylesheets/style.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="../static/javascript/pick_a_game_ui.js"></script>
</head> 
<body>
	<div id="pick_a_game_modal" style="display:none">
		<div id="modal_wrap">
		<div id="success">
			<div id="status" class="text">Challenge successfully sent!</div>
			<div id="tick"></div>
			<div id="statust" class="text">You will recieve an SMS text message when {{f_name}} is ready to play.</div>
		</div>
		<div id="button_wrap"><div id="okay" onclick="history.back()" data-rel="back">Okay!</div></div>
		</div>
	</div>
	<div id="fixed_bg"></div>
	<div id="pick_game_wrapper">
		<header>
			<div id="back_button">
				<a href="javascript:history.back()" data-rel="back">Back</a>
			</div>
			Play with {{f_name}}!
		</header>
		<div id="picture" style="background: url('https://is1.4sqi.net/userpix/{{t_pic}}') no-repeat center;background-size:100%;background-position-y:30%;">
			<div id="name" class="elipses">{% if topics %}Likes <i> {% for topic in topics|slice:":3" %}{% if forloop.last and not forloop.first %} & {{topic}}{% else %}{{topic}}{% endif %}{% if not forloop.last and topics|length != 2 %}, {% endif %}{% endfor %}</i>{% else %}{{f_name}}{% endif %}</div>
		</div>
		<div id="interests">
			<div class="text"><b style="font-size:14px">About me:</b><br> {{t_bio}}
</div>
		</div>
		<div id="footer">
			<form action="/outreach" method="post" style="margin-bottom:0px">
			<div id="select" onclick="$('#pick_a_game').hide()">
				<div id="pick_a_game">Pick a game</div>
				<select name="game_id" id="game_select">
				    <optgroup label="Pick a game">
				      <option></option>
				  {% for game in games %}
				  <option value="{{game.gid}}">{{game.name}}</option>
				  {% endfor %}
				</select>
			</div>
			<input type="hidden" value="{{venue_id}}" name="venue_id">
			<input type="hidden" value="{{t_handle}}" name="t_handle">
			<input type="hidden" value="{{f_name}}" name="f_name">
			<input type="hidden" value="{{t_pic}}" name="t_pic">

			{% csrf_token %}
			<div id="send_button" onclick="if (game_validate() == false) {
	alert('Please select a game before inviting {{f_name}}!!')
} else {
	$.post('/outreach', {
		'venue_id': '{{venue_id}}',
		't_handle': '{{t_handle}}',
		'f_name': '{{f_name}}',
		't_pic': '{{t_pic}}',
		'game_id': document.getElementsByName('game_id')[0].value,
		'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
	}, function(data) {
		if (data.error && data.optout == false) {
	$('#tick').css({background-image:'http://4234e8640077f700febe-15eed6618bc6767f46faea87e9715967.r99.cf2.rackcdn.com/images/x.png'});
			$('#status')[0].innerHTML = 'Uh oh! Looks like there was a problem inviting, please try again in a few minutes';
			$('#statust').hide();
		} else if (data.error && data.optout) {
			$('#status')[0].innerHTML = 'Looks like this person doesn\'t want to receive invitations, please try someone else!';
			$('#statust').hide();
		} else {
			error = false;
		}
	});
	$('#pick_a_game_modal').show();
}
">Send</div>
		</form>
		</div>
	</div>
</body>
</html>
