<!DOCTYPE html> 
<html> 
	<head> 
	<title>Playdope</title> 
	<link rel="stylesheet" href="../static/stylesheets/style.css" />
	<script type="text/javascript" src="../static/javascript/on_board_ui.js"></script>
</head> 
<body>
	<div id="fixed_bg"></div>
	<div id="pick_game_wrapper">
		<header>
			<div id="back_button">
				<a href="javascript:history.back()" data-rel="back">Back</a>
			</div>
			Pick a Game
		</header>
		<div id="picture" style="background: url('https://is1.4sqi.net/userpix/{{t_pic}}') no-repeat center;background-size:100%;background-position-y:30%;">
			<div id="name">{{f_name}}</div>
		</div>
	</div>
</body>
</html>
