<!DOCTYPE html> 
<html> 
	<head> 
	<title>Playdope</title> 
	<link rel="stylesheet" href="../static/stylesheets/style.css" />
	<script type="text/javascript" src="../static/javascript/on_board_ui.js"></script>
</head> 
<body>
	<div id="fixed_bg"></div>
	<div id="pick_game_wrapper">
		<header>
			<div id="back_button">
				<a href="javascript:history.back()" data-rel="back">Back</a>
			</div>
			Play with {{f_name}}!
		</header>
		<div id="picture" style="background: url('https://is1.4sqi.net/userpix/{{t_pic}}') no-repeat center;background-size:100%;background-position-y:30%;">
			<div id="name">{% if topics %}Interests: {% for topic in topics|slice:":5" %}{% if forloop.last and not forloop.first %}& {{topic}}{% else %}{{topic}}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}{{f_name}}{% endif %}</div>
		</div>
		<div id="interests">
			<div class="text">About {{f_name}}: {{t_bio}}
</div>
		</div>
		<div id="footer">
			<div id="select">
				<div id="pick_a_game">Pick a game</div>
				<select>
					<option value="value1">value1</option>
					<option value="value1">value2</option>
					<option value="value1">value3</option>
				</select>
			</div>
			
			<div id="send_button">Send</div>
		</div>
	</div>
</body>
</html>
