<div data-role="page" data-theme="b">
	<div data-role="header" data-theme="a" align="center">
			<h1 align="center" style="font-family:Gotham Medium; font-size:16px; width:100%;">A closer look</h1>
	</div>
	
	
	
	<div align="center" data-role="content">
		<img src="http://img-s.foursquare.com/userpix/{{ image }}" class="dialog_image" style="max-width:280px;">
		<br>
		{% if twitter %}
		<a href="/pickmessage/?from_hon_screen=false" data-role="button" data-theme="f">Message {{f_name}}</a>
		{%endif%}
		<a href="#" data-role="button" data-theme="j" data-rel="back">Close</a>
	</div>
	
</div>
