<!DOCTYPE html> 
<html> 
	<head> 
	<title>Playdope</title> 
	<link rel="stylesheet" href="../static/stylesheets/style.css" />
	<script type="text/javascript" src="../static/javascript/on_board_ui.js"></script>
</head> 
<body>
	<div id="fixed_bg"></div>
	<div id="thanks_wrapper">
		<div id="speech_bub">
			<div class="bold text">Thanks for applying!<br /><br /></div>
			<div class="text">We'll let you know as soon as we have room for you to play.</div>
		</div>
		<div id="face"></div>
		<div id="no_photo">
			<div id="exclamation_icon"></div>
			<div id="text">You must upload a profile <br />picture to play!</div>
		</div>
		<div class="button">Get faster access, check into this app!</div>
	</div>
</body>
</html>
