<html>
<head>
<title>FAQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body bgcolor="#A00E20" class="content" onload="setTimeout(function() { window.scrollTo(0,1) }, 100);">
<div style="color:#FAF8BE;font-family:Helvetica, Arial, sans-serif /*{global-font-family}>">
<ul>
Terms
<li>We may send you text messages, emails, tweets, Facebook messages regarding the service.</li>
<li>We may send Tweets, Foursquare check-ins/shouts, Facebook messages on your behalf with your permission.</li>
<li>The data we have collected from your Foursquare account may be used by a third party in the event of an acquisition or merger.</li>
<li>We may use cookies to track your usage of the site.</li>
<li>We will take reasonable precautions to prevent the loss, misuse or alteration of your personal information. Of course, data transmission over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</li>
<center>
<button type="button" style="background-image: url('http://getpostd.com/button.png');width:200px;height:37px;color:#FAF8BE;font-weight:bold;font-family: HelveticaNeue,Helvetica Neue, Helvetica, Arial, sans-serif;font-size:.8em;border-radius:10px;border:#000;" onClick="history.back()">Back</button>
</center>
