<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="apple-touch-fullscreen" content="YES" />
                <meta name="apple-mobile-web-app-capable" content="yes" />
                <meta name="format-detection" content="telephone=no">
                <meta name="HandheldFriendly" content="true" />


	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>wait</title>

<script type="text/javascript">
function show_confirm()
{
var r=confirm("Fourplay will now Checkin to the app for friends to see. This checkin may be sent to Twitter or Facebook.");
if (r==true)
  {
  window.location='/checkin';
  }
else
  {
  parent.close();
  }
}
</script>
<style type="text/css">
body
{ 
background-image:url('http://c15075740.r40.cf2.rackcdn.com/bubble.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
}
</style></head>
<body>
<div style="position:absolute;top:35%;font-family:Helvetica Neue;width:243px;left:11%"><b>Thanks for applying!</b><br>We will let you know as soon as we have room for you to play!</div> 
<div><img src="http://c15075740.r40.cf2.rackcdn.com/playdope-face-small.jpg" style="position:absolute;left:35%; bottom:15%;"></div>
<br><a href="/checkin">Get faster access. Check in to this app!</a>
{% if photo %}
YOU HAVE PHOTO
{% else %}
YOU DONT HAVE PHOTO
{% endif %}
</body>
</html>


</body>
</html>
