<p>Welcome {{first_name}}!</p>

<p>You are THE latest member of playdope, a game for meeting nearby people! We hope you have a blast.</p>

<o>A few pointers to help you get the most out of pd:</p>
<ul><li>Give people time to respond to your game requests.</li>
<li>If one of the players is waiting for the other player, we will send them an SMS. This takes a few seconds so please be patient.</li>
<li>If you so choose, you can reward your opponent for beating you by buying them a nearby treat!</li>
<li>Feel free to meet up at a nearby public place such as a bar, bakery, etc. after the game (the same you would do if you were meeting someone from Craigslist)</li></ul>

<p>That's it for now. Again, please feel free to send feedback to hi@playdope.com!</p>
<p>Play on player!<br>-Matt and the Playdope Boys</p>
