<p>Welcome {{first_name}}!</p>

<p>You are THE latest member of Playdope, a game for meeting nearby people! We hope you have a blast.</p>

<o>A few pointers to help you get the most out of PD:</p>
<ul><li>Give people time to respond to your game requests.</li>
<li>-If one of the players is waiting for the other player, we will send them an SMS. This takes a few seconds so please be patient.</li>
<li>-If you so choose, you can reward your opponent for beating you by buying them a nearby treat!</li>
<li>-The community is handpicked; be assured that it is safe to meet up at a public place such as a bar, bakery, etc.</li></ul>

<p>That's it for now. Again, please feel free to send feedback to hi@playdope.com!</p>
<p>Play on playa!<br>-Matt and the Playdope Boys</p>
